<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd">
    <head>
    </head>
    <body>
        <h1>[command]</h1>
        <p class="tip" MadCap:autonum="&lt;b&gt;Tip: &lt;/b&gt;">	The command uses syntax for <MadCap:variable name="General.Liquibase" /> 4.4 and later. For earlier versions, use a camel case syntax and the following CLI order: <code>[command parameters] [command] [global parameters]</code>. To find the previous format of the command, run the <code>liquibase --help</code> command and refer to the deprecated version.</p>
        <p>The <code>sample</code> command [specify what a command does].</p>
        <h2>Uses</h2>
        <p>Use the <code>sample</code> command to [specify use cases].</p>
        <h2>Running the [sample] command</h2>
        <p>To run the <code>sample</code> command, specify the following parameters in the <MadCap:variable name="General.Liquibase" /> properties file, environment variables, or the command prompt while running the command:</p>
        <p class="note" MadCap:autonum="&lt;b&gt;Note: &lt;/b&gt;">For more information about the options to store parameters, see <MadCap:xref href="../../concepts/connections/creating-config-properties.html">Specifying Properties in a Connection Profile</MadCap:xref>, <MadCap:xref href="../../concepts/connections/liquibase-environment-variables.htm">[%=General.Liquibase%] Environment Variables</MadCap:xref>, and <MadCap:xref href="../../concepts/connections/java-opts-environment-variable.htm">JAVA_OPTS Environment Variable</MadCap:xref>. To find the format of a parameter, see <MadCap:xref href="../../parameters/command-parameters.htm">Command Parameters</MadCap:xref>.</p>
        <ul>
            <li><a href="https://docs.liquibase.com/workflows/liquibase-community/using-jdbc-url-in-liquibase.html">URL</a>, <a href="https://docs.liquibase.com/workflows/liquibase-community/adding-and-updating-liquibase-drivers.html">driver</a> [optional], and user authentication information such as username and password.
            </li>
            <li>[if needed, specify other requirements]</li>
        </ul>
        <p>Run the <code>sample</code> command:</p><pre xml:space="preserve"><code class="language-text">liquibase sample</code></pre>
        <h2><a name="execute-"></a>[sample] command parameters</h2>
        <table>
            <col style="width: 600px;" />
            <col style="width: 600px;" />
            <col style="width: 600px;" />
            <thead>
                <tr>
                    <th><MadCap:variable name="General.Param/Attr/Uppercased" />
                    </th>
                    <th>Definition</th>
                    <th>Requirement</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>sample parameter</code>
                    </td>
                    <td>Description</td>
                    <td><b>Optional / Required</b>
                    </td>
                </tr>
                <tr>
                    <td><code>--url</code>
                    </td>
                    <td>The JDBC database connection URL</td>
                    <td><b>Required</b>
                    </td>
                </tr>
                <tr>
                    <td><code>--username</code>*</td>
                    <td>The database username</td>
                    <td><b>Required*</b>
                    </td>
                </tr>
                <tr>
                    <td><code>--password</code>*</td>
                    <td>The database password</td>
                    <td><b>Required*</b></td>
                </tr>
            </tbody>
        </table>
        <p class="note" MadCap:autonum="&lt;b&gt;Note: &lt;/b&gt;"><MadCap:variable name="General.Liquibase" /> does not require the <code>username</code> and <code>password</code><MadCap:variable name="General.Param/Attribute" />s for connections and systems which use alternate means of authentication.</p>
        <MadCap:dropDown>
            <MadCap:dropDownHead>
                <MadCap:dropDownHotspot>[sample] example output</MadCap:dropDownHotspot>
            </MadCap:dropDownHead>
            <MadCap:dropDownBody><pre xml:space="preserve"><code class="language-text">sample code</code></pre>
            </MadCap:dropDownBody>
        </MadCap:dropDown>
    </body>
</html>