<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd">
    <head><title>checks.run Maven Goal | Liquibase Docs</title>
        <meta rel="canonical" href="https://docs.liquibase.com/tools-integrations/maven/commands/maven-checks-run.html" />
        <meta name="description" content="Reference information and use cases for the checks.run Maven goal. The checks.run goal executes Liquibase quality checks using the checks settings file and the changelog file you specify." />
    </head>
    <body>
        <h1>Maven [goal]</h1>
        <p>The <code>sample</code> goal [specify what a goal does].</p>
        <h2>Uses</h2>
        <p>Use the <code>sample</code> goal to [specify use cases].</p>
        <MadCap:snippetBlock src="../Snippets/text/maven-config.flsnp" />
        <h2>Running the [sample] Maven goal</h2>
        <p>Running the <code>sample</code> goal requires you to have a Maven project implemented. [if needed, specify other requirements]</p>
        <p>To run the goal, enter the following at your command prompt:</p><pre xml:space="preserve"><code class="language-text">mvn liquibase:sample</code></pre>
        <MadCap:dropDown>
            <MadCap:dropDownHead>
                <MadCap:dropDownHotspot>Output</MadCap:dropDownHotspot>
            </MadCap:dropDownHead>
            <MadCap:dropDownBody>
                <p>When successful, the <code>sample</code> Maven goal produces the following output:</p><pre xml:space="preserve">code output here</pre>
            </MadCap:dropDownBody>
        </MadCap:dropDown>
        <h2><a name="checks.s"></a>[sample] Maven configuration properties</h2>
        <table>
            <thead>
                <tr>
                    <th>Property</th>
                    <th>Definition</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <p>CLI:
						<code>-Dliquibase.checksSettingsFile</code></p>
                        <p>Property in the <code>pom.xml</code> file:
							<code>&lt;checksSettingsFile&gt;path/to/checks-settings.conf&lt;/checksSettingsFile&gt;</code><![CDATA[
						]]></p>
                    </td>
                    <td>
                        <p>This is the parameter that specifies [details about the parameter]</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>