/*<meta />*/

/*<meta sourceDocument="C:\Users\Amber Williams\Downloads\Azure+SQL+Managed+Instance+Setup.doc" />*/

p
{
	font-family: 'Times New Roman';
	font-size: 12pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

ol
{
	font-family: 'Times New Roman';
	font-size: 12pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

ul
{
	font-family: 'Times New Roman';
	font-size: 12pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

li
{
	font-family: 'Times New Roman';
	font-size: 12pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

td
{
	font-family: 'Times New Roman';
	font-size: 12pt;
	vertical-align: top;
}

h1.Heading1
{
	margin-top: 5pt;
	margin-bottom: 5pt;
	mc-heading-level: 1;
	font-family: 'Times New Roman';
	font-weight: bold;
	font-size: 24pt;
}

p.NormalWeb
{
	font-size: 12pt;
	margin-top: 5pt;
	margin-bottom: 5pt;
	font-family: 'Times New Roman';
}

a.Hyperlink
{
	color: #0000FF;
	text-decoration: underline;
}

li.NormalWeb
{
	font-size: 12pt;
	margin-top: 5pt;
	margin-bottom: 5pt;
	font-family: 'Times New Roman';
}

span.Strong
{
	font-weight: bold;
}

p.HTMLPreformatted
{
	font-family: 'Courier New';
	font-size: 10pt;
}

h3.Heading3
{
	margin-top: 5pt;
	margin-bottom: 5pt;
	mc-heading-level: 3;
	font-family: 'Times New Roman';
	font-weight: bold;
	font-size: 14pt;
}

span.HTMLCode
{
	font-size: 10pt;
}

h2.Heading2
{
	margin-top: 5pt;
	margin-bottom: 5pt;
	mc-heading-level: 2;
	font-family: 'Times New Roman';
	font-weight: bold;
	font-size: 18pt;
}

ol.ol_1
{
	padding-left: 0px;
	list-style-type: decimal;
	margin-left: 36pt;
}

ul.ul_1
{
	padding-left: 0px;
	list-style-type: disc;
	margin-left: 36pt;
}

span.HTMLCode_1
{
	font-size: 10pt;
	font-family: 'Courier New';
}

p.NormalWeb_1
{
	font-size: 12pt;
	margin-top: 5pt;
	margin-bottom: 5pt;
	font-family: 'Times New Roman';
	background-color: #EAE6FF;
}

p.p_1
{
	margin-top: 5pt;
	margin-bottom: 5pt;
}

li.li_1
{
	margin-top: 5pt;
	margin-bottom: 5pt;
}

