/*<meta />*/

/*<meta sourceDocument="C:\Users\Amber Williams\Downloads\Command+Options.doc" />*/

p
{
	font-family: 'Times New Roman';
	font-size: 12pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

ol
{
	font-family: 'Times New Roman';
	font-size: 12pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

ul
{
	font-family: 'Times New Roman';
	font-size: 12pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

li
{
	font-family: 'Times New Roman';
	font-size: 12pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

td
{
	font-family: 'Times New Roman';
	font-size: 12pt;
	vertical-align: top;
}

h1.Heading1
{
	margin-top: 5pt;
	margin-bottom: 5pt;
	mc-heading-level: 1;
	font-family: 'Times New Roman';
	font-weight: bold;
	font-size: 24pt;
}

p.NormalWeb
{
	font-size: 12pt;
	margin-top: 5pt;
	margin-bottom: 5pt;
	font-family: 'Times New Roman';
}

p.HTMLPreformatted
{
	font-family: 'Courier New';
	font-size: 10pt;
}

span.HTMLCode
{
	font-size: 10pt;
}

span.Strong
{
	font-weight: bold;
}

col.col_1
{
	width: 158pt;
}

col.col_2
{
	width: 270pt;
}

p.p_1
{
	text-align: center;
}

td.td_1
{
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: black;
	border-left-style: solid;
	border-left-width: 1pt;
	border-left-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: black;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: black;
	padding-top: 4pt;
	padding-left: 4pt;
	padding-bottom: 4pt;
	padding-right: 4pt;
	vertical-align: middle;
}

p.p_2
{
	text-align: center;
	font-weight: bold;
}

span.HTMLCode_1
{
	font-size: 10pt;
	font-family: 'Courier New';
}

p.p_3
{
	margin-top: 5pt;
	margin-bottom: 5pt;
}

li.li_1
{
	margin-top: 5pt;
	margin-bottom: 5pt;
}

ul.ul_1
{
	padding-left: 0px;
	list-style-type: disc;
	margin-left: 36pt;
}

p.p_4
{
	margin-top: 5pt;
	margin-bottom: 5pt;
	font-family: 'Courier New';
}

li.li_2
{
	margin-top: 5pt;
	margin-bottom: 5pt;
	font-family: 'Courier New';
}

span.span_1
{
	color: #333333;
}

span.Strong_1
{
	font-weight: bold;
	color: #000000;
}

span.span_2
{
	color: #000000;
}

span.HTMLCode_2
{
	font-size: 10pt;
	font-family: 'Courier New';
	color: #333333;
}

span.span_3
{
	color: #172B4D;
}

span.span_4
{
	color: #091E42;
}

span.HTMLCode_3
{
	font-size: 10pt;
	font-family: 'Courier New';
	color: #091E42;
}

table.table_1
{
	border-collapse: collapse;
}

