/*<meta />*/

/*<meta sourceDocument="C:\Users\Amber Williams\Downloads\configuring+Deployment+Packager+to+Use+the+Oracle+Datapump+API+for+Backup+and+Restore.doc" />*/

p
{
	font-family: 'Times New Roman';
	font-size: 12pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

ol
{
	font-family: 'Times New Roman';
	font-size: 12pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

ul
{
	font-family: 'Times New Roman';
	font-size: 12pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

li
{
	font-family: 'Times New Roman';
	font-size: 12pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

td
{
	font-family: 'Times New Roman';
	font-size: 12pt;
	vertical-align: top;
}

h1.Heading1
{
	margin-top: 5pt;
	margin-bottom: 5pt;
	mc-heading-level: 1;
	font-family: 'Times New Roman';
	font-weight: bold;
	font-size: 24pt;
}

p.NormalWeb
{
	font-size: 12pt;
	margin-top: 5pt;
	margin-bottom: 5pt;
	font-family: 'Times New Roman';
}

span.HTMLCode
{
	font-size: 10pt;
}

p.HTMLPreformatted
{
	font-family: 'Courier New';
	font-size: 10pt;
}

a.Hyperlink
{
	color: #0000FF;
	text-decoration: underline;
}

span.HTMLCode_1
{
	font-size: 10pt;
	font-family: 'Courier New';
}

