/*<meta />*/

/*<meta sourceDocument="C:\Users\Amber Williams\Downloads\Creating+a+Datical+Project+Using+the+Project+Creation+Script+(project_creator.groovy).doc" />*/

p
{
	font-family: 'Times New Roman';
	font-size: 12pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

ol
{
	font-family: 'Times New Roman';
	font-size: 12pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

ul
{
	font-family: 'Times New Roman';
	font-size: 12pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

li
{
	font-family: 'Times New Roman';
	font-size: 12pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

td
{
	font-family: 'Times New Roman';
	font-size: 12pt;
	vertical-align: top;
}

h1.Heading1
{
	margin-top: 5pt;
	margin-bottom: 5pt;
	mc-heading-level: 1;
	font-family: 'Times New Roman';
	font-weight: bold;
	font-size: 24pt;
}

a.Hyperlink
{
	color: #0000FF;
	text-decoration: underline;
}

p.p_1
{
	margin-top: 5pt;
	margin-bottom: 5pt;
}

li.li_1
{
	margin-top: 5pt;
	margin-bottom: 5pt;
}

ul.ul_1
{
	padding-left: 0px;
	list-style-type: disc;
	margin-left: 36pt;
}

p.NormalWeb
{
	font-size: 12pt;
	margin-top: 5pt;
	margin-bottom: 5pt;
	font-family: 'Times New Roman';
}

span.HTMLCode
{
	font-size: 10pt;
}

span.HTMLCode_1
{
	font-size: 10pt;
	font-family: 'Courier New';
}

p.HTMLPreformatted
{
	font-family: 'Courier New';
	font-size: 10pt;
}

ul.ul_2
{
	padding-left: 0px;
	list-style-type: square;
	margin-left: 36pt;
}

ul.ul_3
{
	padding-left: 0px;
	list-style-type: circle;
	margin-left: 36pt;
}

span.Strong
{
	font-weight: bold;
}

span.Emphasis
{
	font-style: italic;
}

col.col_1
{
	width: 162pt;
}

col.col_2
{
	width: 314pt;
}

span.Strong_1
{
	font-weight: bold;
	color: #000000;
}

span.Emphasis_1
{
	font-style: italic;
	font-weight: bold;
	color: #000000;
}

p.NormalWeb_1
{
	font-size: 12pt;
	margin-top: 5pt;
	margin-bottom: 5pt;
	font-family: 'Times New Roman';
	text-align: center;
}

td.td_1
{
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: black;
	border-left-style: solid;
	border-left-width: 1pt;
	border-left-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: black;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: black;
	padding-top: 4pt;
	padding-left: 4pt;
	padding-bottom: 4pt;
	padding-right: 4pt;
	vertical-align: middle;
}

p.NormalWeb_2
{
	font-size: 12pt;
	margin-top: 5pt;
	margin-bottom: 5pt;
	font-family: 'Times New Roman';
	text-align: center;
	font-weight: bold;
	color: #000000;
}

table.table_1
{
	border-collapse: collapse;
}

col.col_3
{
	width: 98pt;
}

col.col_4
{
	width: 378pt;
}

span.Hyperlink
{
	color: #0000FF;
	text-decoration: underline;
}

ol.ol_1
{
	padding-left: 0px;
	list-style-type: decimal;
	margin-left: 36pt;
}

col.col_5
{
	width: 134pt;
}

col.col_6
{
	width: 333pt;
}

span.Emphasis_2
{
	font-style: italic;
	font-weight: bold;
	color: #7F7F7F;
}

span.span_1
{
	color: #091E42;
}

span.Strong_2
{
	font-weight: bold;
	color: #333333;
}

span.span_2
{
	color: #333333;
}

col.col_7
{
	width: 135pt;
}

col.col_8
{
	width: 340pt;
}

span.Strong_3
{
	font-weight: bold;
	font-style: italic;
}

span.Strong_4
{
	font-weight: bold;
	font-style: italic;
	color: #808080;
}

span.span_3
{
	color: #172B4D;
}

span.Hyperlink_1
{
	color: #0000FF;
	text-decoration: none;
}

col.col_9
{
	width: 157pt;
}

col.col_10
{
	width: 275pt;
}

span.span_4
{
	color: #000000;
}

