/*<meta />*/

/*<meta sourceDocument="C:\Users\Amber Williams\Downloads\Database+Object+Support.doc" />*/

p
{
	font-family: 'Times New Roman';
	font-size: 12pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

ol
{
	font-family: 'Times New Roman';
	font-size: 12pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

ul
{
	font-family: 'Times New Roman';
	font-size: 12pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

li
{
	font-family: 'Times New Roman';
	font-size: 12pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

td
{
	font-family: 'Times New Roman';
	font-size: 12pt;
	vertical-align: top;
}

h1.Heading1
{
	margin-top: 5pt;
	margin-bottom: 5pt;
	mc-heading-level: 1;
	font-family: 'Times New Roman';
	font-weight: bold;
	font-size: 24pt;
}

a.Hyperlink
{
	color: #0000FF;
	text-decoration: underline;
}

p.NormalWeb
{
	font-size: 12pt;
	margin-top: 5pt;
	margin-bottom: 5pt;
	font-family: 'Times New Roman';
}

h2.Heading2
{
	margin-top: 5pt;
	margin-bottom: 5pt;
	mc-heading-level: 2;
	font-family: 'Times New Roman';
	font-weight: bold;
	font-size: 18pt;
}

span.Strong
{
	font-weight: bold;
}

span.Emphasis
{
	font-style: italic;
}

p.p_1
{
	margin-top: 5pt;
	margin-bottom: 5pt;
}

li.li_1
{
	margin-top: 5pt;
	margin-bottom: 5pt;
}

ul.ul_1
{
	padding-left: 0px;
	list-style-type: disc;
	margin-left: 36pt;
}

col.col_1
{
	width: 439pt;
}

p.p_2
{
	text-align: center;
}

td.td_1
{
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: black;
	border-left-style: solid;
	border-left-width: 1pt;
	border-left-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: black;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: black;
	padding-top: 4pt;
	padding-left: 4pt;
	padding-bottom: 4pt;
	padding-right: 4pt;
	vertical-align: middle;
}

table.table_1
{
	border-collapse: collapse;
}

col.col_2
{
	width: 227pt;
}

p.p_3
{
	text-align: center;
	font-weight: bold;
}

col.col_3
{
	width: 186pt;
}

col.col_4
{
	width: 42pt;
}

col.col_5
{
	width: 34pt;
}

col.col_6
{
	width: 30pt;
}

col.col_7
{
	width: 45pt;
}

col.col_8
{
	width: 50pt;
}

col.col_9
{
	width: 44pt;
}

col.col_10
{
	width: 46pt;
}

