/*<meta />*/

/*<meta sourceDocument="C:\Users\Amber Williams\Downloads\EZCONNECT+Connection+to+an+Oracle+Database.doc" />*/

p
{
	font-family: 'Times New Roman';
	font-size: 12pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

ol
{
	font-family: 'Times New Roman';
	font-size: 12pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

ul
{
	font-family: 'Times New Roman';
	font-size: 12pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

li
{
	font-family: 'Times New Roman';
	font-size: 12pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

td
{
	font-family: 'Times New Roman';
	font-size: 12pt;
	vertical-align: top;
}

h1.Heading1
{
	margin-top: 5pt;
	margin-bottom: 5pt;
	mc-heading-level: 1;
	font-family: 'Times New Roman';
	font-weight: bold;
	font-size: 24pt;
}

a.Hyperlink
{
	color: #0000FF;
	text-decoration: underline;
}

p.p_1
{
	margin-top: 5pt;
	margin-bottom: 5pt;
}

li.li_1
{
	margin-top: 5pt;
	margin-bottom: 5pt;
}

ul.ul_1
{
	padding-left: 0px;
	list-style-type: circle;
	margin-left: 36pt;
}

ul.ul_2
{
	padding-left: 0px;
	list-style-type: disc;
	margin-left: 36pt;
}

p.NormalWeb
{
	font-size: 12pt;
	margin-top: 5pt;
	margin-bottom: 5pt;
	font-family: 'Times New Roman';
}

h2.Heading2
{
	margin-top: 5pt;
	margin-bottom: 5pt;
	mc-heading-level: 2;
	font-family: 'Times New Roman';
	font-weight: bold;
	font-size: 18pt;
}

span.Strong
{
	font-weight: bold;
}

span.span_1
{
	color: #091E42;
}

span.HTMLCode
{
	font-size: 10pt;
}

span.HTMLCode_1
{
	font-size: 10pt;
	font-family: 'Courier New';
}

p.HTMLPreformatted
{
	font-family: 'Courier New';
	font-size: 10pt;
}

col.col_1
{
	width: 80pt;
}

col.col_2
{
	width: 385pt;
}

p.p_2
{
	text-align: center;
	font-weight: bold;
}

td.td_1
{
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: black;
	border-left-style: solid;
	border-left-width: 1pt;
	border-left-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: black;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: black;
	padding-top: 4pt;
	padding-left: 4pt;
	padding-bottom: 4pt;
	padding-right: 4pt;
	vertical-align: middle;
}

table.table_1
{
	border-collapse: collapse;
}

ol.ol_1
{
	padding-left: 0px;
	list-style-type: decimal;
	margin-left: 36pt;
}

ul.ul_3
{
	padding-left: 0px;
	list-style-type: square;
	margin-left: 36pt;
}

li.NormalWeb
{
	font-size: 12pt;
	margin-top: 5pt;
	margin-bottom: 5pt;
	font-family: 'Times New Roman';
}

h3.Heading3
{
	margin-top: 5pt;
	margin-bottom: 5pt;
	mc-heading-level: 3;
	font-family: 'Times New Roman';
	font-weight: bold;
	font-size: 14pt;
}

span.Emphasis
{
	font-style: italic;
}

span.span_2
{
	color: #171717;
}

span.span_3
{
	color: #C00000;
}

span.Strong_1
{
	font-weight: bold;
	font-style: italic;
	color: #7F7F7F;
}

span.Emphasis_1
{
	font-style: italic;
	color: #7F7F7F;
}

span.Emphasis_2
{
	font-style: italic;
	color: #C00000;
}

col.col_3
{
	width: 56pt;
}

col.col_4
{
	width: 156pt;
}

col.col_5
{
	width: 102pt;
}

img.img_1
{
	visibility: visible;
	mso-wrap-style: square;
	width: 293px;
	height: 317px;
}

p.NormalWeb_1
{
	font-size: 12pt;
	margin-top: 5pt;
	margin-bottom: 5pt;
	font-family: 'Times New Roman';
	background-color: #EAE6FF;
}

col.col_6
{
	width: 133pt;
}

col.col_7
{
	width: 342pt;
}

p.NormalWeb_2
{
	font-size: 12pt;
	margin-top: 5pt;
	margin-bottom: 5pt;
	font-family: 'Times New Roman';
	text-align: center;
}

img.img_2
{
	visibility: visible;
	mso-wrap-style: square;
	width: 468px;
	height: 441px;
}

