/*<meta />*/

/*<meta sourceDocument="C:\Users\Amber Williams\Downloads\How+do+I+get+my+HTML+reports+to+show+up+properly+in+Jenkins_.doc" />*/

p
{
	font-family: 'Times New Roman';
	font-size: 12pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

ol
{
	font-family: 'Times New Roman';
	font-size: 12pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

ul
{
	font-family: 'Times New Roman';
	font-size: 12pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

li
{
	font-family: 'Times New Roman';
	font-size: 12pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

td
{
	font-family: 'Times New Roman';
	font-size: 12pt;
	vertical-align: top;
}

h1.Heading1
{
	margin-top: 5pt;
	margin-bottom: 5pt;
	mc-heading-level: 1;
	font-family: 'Times New Roman';
	font-weight: bold;
	font-size: 24pt;
}

p.NormalWeb
{
	font-size: 12pt;
	margin-top: 5pt;
	margin-bottom: 5pt;
	font-family: 'Times New Roman';
}

span.Strong
{
	font-weight: bold;
}

span.Hyperlink
{
	color: #0000FF;
	text-decoration: underline;
}

li.NormalWeb
{
	font-size: 12pt;
	margin-top: 5pt;
	margin-bottom: 5pt;
	font-family: 'Times New Roman';
}

p.HTMLPreformatted
{
	font-family: 'Courier New';
	font-size: 10pt;
}

p.auto-cursor-target
{
	font-size: 12pt;
	margin-top: 5pt;
	margin-bottom: 5pt;
	font-family: 'Times New Roman';
}

span.Strong_1
{
	font-weight: bold;
	color: #172B4D;
}

span.span_1
{
	color: #172B4D;
}

span.Hyperlink_1
{
	color: #0000FF;
	text-decoration: none;
}

ul.ul_1
{
	padding-left: 0px;
	list-style-type: disc;
	margin-left: 36pt;
}

