/*<meta />*/

/*<meta sourceDocument="C:\Users\Amber Williams\Downloads\Oracle+on+Amazon+RDS+differences+from+Oracle+on+prem+Database+Setup.doc" />*/

p
{
	font-family: 'Times New Roman';
	font-size: 12pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

ol
{
	font-family: 'Times New Roman';
	font-size: 12pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

ul
{
	font-family: 'Times New Roman';
	font-size: 12pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

li
{
	font-family: 'Times New Roman';
	font-size: 12pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

td
{
	font-family: 'Times New Roman';
	font-size: 12pt;
	vertical-align: top;
}

h1.Heading1
{
	margin-top: 5pt;
	margin-bottom: 5pt;
	mc-heading-level: 1;
	font-family: 'Times New Roman';
	font-weight: bold;
	font-size: 24pt;
}

a.Hyperlink
{
	color: #0000FF;
	text-decoration: underline;
}

p.NormalWeb
{
	font-size: 12pt;
	margin-top: 5pt;
	margin-bottom: 5pt;
	font-family: 'Times New Roman';
}

p.p_1
{
	margin-top: 5pt;
	margin-bottom: 5pt;
}

li.li_1
{
	margin-top: 5pt;
	margin-bottom: 5pt;
}

ul.ul_1
{
	padding-left: 0px;
	list-style-type: disc;
	margin-left: 36pt;
}

span.Strong
{
	font-weight: bold;
}

ul.ul_2
{
	padding-left: 0px;
	list-style-type: circle;
	margin-left: 36pt;
}

p.HTMLPreformatted
{
	font-family: 'Courier New';
	font-size: 10pt;
}

span.span_1
{
	color: #172B4D;
}

