/*<meta />*/

/*<meta sourceDocument="C:\Users\Amber Williams\Downloads\Packager+backup+and+restore+process+for+SQL+Server+and+Azure+SQL+Managed+Instance (1).doc" />*/

p
{
	font-family: 'Times New Roman';
	font-size: 12pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

ol
{
	font-family: 'Times New Roman';
	font-size: 12pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

ul
{
	font-family: 'Times New Roman';
	font-size: 12pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

li
{
	font-family: 'Times New Roman';
	font-size: 12pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

td
{
	font-family: 'Times New Roman';
	font-size: 12pt;
	vertical-align: top;
}

h1.Heading1
{
	margin-top: 5pt;
	margin-bottom: 5pt;
	mc-heading-level: 1;
	font-family: 'Times New Roman';
	font-weight: bold;
	font-size: 24pt;
}

p.NormalWeb
{
	font-size: 12pt;
	margin-top: 5pt;
	margin-bottom: 5pt;
	font-family: 'Times New Roman';
}

span.HTMLCode
{
	font-size: 10pt;
}

li.NormalWeb
{
	font-size: 12pt;
	margin-top: 5pt;
	margin-bottom: 5pt;
	font-family: 'Times New Roman';
}

h3.Heading3
{
	margin-top: 5pt;
	margin-bottom: 5pt;
	mc-heading-level: 3;
	font-family: 'Times New Roman';
	font-weight: bold;
	font-size: 14pt;
}

a.Hyperlink
{
	color: #0000FF;
	text-decoration: underline;
}

span.HTMLCode_1
{
	font-size: 10pt;
	font-family: 'Courier New';
}

ul.ul_1
{
	padding-left: 0px;
	list-style-type: disc;
	margin-left: 36pt;
}

