/*<meta />*/

/*<meta sourceDocument="C:\Users\Amber Williams\Downloads\Roles+and+Permissions+for+Datical+DB+on+Oracle+Database.doc" />*/

p
{
	font-family: 'Times New Roman';
	font-size: 12pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

ol
{
	font-family: 'Times New Roman';
	font-size: 12pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

ul
{
	font-family: 'Times New Roman';
	font-size: 12pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

li
{
	font-family: 'Times New Roman';
	font-size: 12pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

td
{
	font-family: 'Times New Roman';
	font-size: 12pt;
	vertical-align: top;
}

h1.Heading1
{
	margin-top: 5pt;
	margin-bottom: 5pt;
	mc-heading-level: 1;
	font-family: 'Times New Roman';
	font-weight: bold;
	font-size: 24pt;
}

a.Hyperlink
{
	color: #0000FF;
	text-decoration: underline;
}

p.NormalWeb
{
	font-size: 12pt;
	margin-top: 5pt;
	margin-bottom: 5pt;
	font-family: 'Times New Roman';
}

p.p_1
{
	margin-top: 5pt;
	margin-bottom: 5pt;
}

li.li_1
{
	margin-top: 5pt;
	margin-bottom: 5pt;
}

ul.ul_1
{
	padding-left: 0px;
	list-style-type: disc;
	margin-left: 36pt;
}

ul.ul_2
{
	padding-left: 0px;
	list-style-type: circle;
	margin-left: 36pt;
}

h2.Heading2
{
	margin-top: 5pt;
	margin-bottom: 5pt;
	mc-heading-level: 2;
	font-family: 'Times New Roman';
	font-weight: bold;
	font-size: 18pt;
}

span.Strong
{
	font-weight: bold;
}

span.Strong_1
{
	font-weight: bold;
	color: #333333;
}

span.span_1
{
	color: #333333;
}

span.span_2
{
	color: #000000;
}

span.span_3
{
	color: #003366;
}

p.NormalWeb_1
{
	font-size: 12pt;
	margin-top: 5pt;
	margin-bottom: 5pt;
	font-family: 'Times New Roman';
	margin-left: 23pt;
}

span.Strong_2
{
	font-weight: bold;
	font-style: italic;
}

span.span_4
{
	color: #091E42;
}

