/*<meta />*/

/*<meta sourceDocument="C:\Users\Amber Williams\Downloads\SQL+Server+Database+Objects+and+Packaging.doc" />*/

p
{
	font-family: 'Times New Roman';
	font-size: 12pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

ol
{
	font-family: 'Times New Roman';
	font-size: 12pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

ul
{
	font-family: 'Times New Roman';
	font-size: 12pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

li
{
	font-family: 'Times New Roman';
	font-size: 12pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

td
{
	font-family: 'Times New Roman';
	font-size: 12pt;
	vertical-align: top;
}

h1.Heading1
{
	margin-top: 5pt;
	margin-bottom: 5pt;
	mc-heading-level: 1;
	font-family: 'Times New Roman';
	font-weight: bold;
	font-size: 24pt;
}

a.Hyperlink
{
	color: #0000FF;
	text-decoration: underline;
}

p.p_1
{
	margin-top: 5pt;
	margin-bottom: 5pt;
}

li.li_1
{
	margin-top: 5pt;
	margin-bottom: 5pt;
}

ul.ul_1
{
	padding-left: 0px;
	list-style-type: disc;
	margin-left: 36pt;
}

span.Strong
{
	font-weight: bold;
}

p.NormalWeb
{
	font-size: 12pt;
	margin-top: 5pt;
	margin-bottom: 5pt;
	font-family: 'Times New Roman';
}

span.HTMLCode
{
	font-size: 10pt;
}

span.HTMLCode_1
{
	font-size: 10pt;
	font-family: 'Courier New';
}

ul.ul_2
{
	padding-left: 0px;
	list-style-type: circle;
	margin-left: 36pt;
}

col.col_1
{
	width: 191pt;
}

col.col_2
{
	width: 215pt;
}

col.col_3
{
	width: 106pt;
}

col.col_4
{
	width: 100pt;
}

col.col_5
{
	width: 134pt;
}

p.p_2
{
	margin-left: 45pt;
	text-align: center;
}

td.td_1
{
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: black;
	border-left-style: solid;
	border-left-width: 1pt;
	border-left-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: black;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: black;
	padding-top: 4pt;
	padding-left: 4pt;
	padding-bottom: 4pt;
	padding-right: 4pt;
	vertical-align: middle;
}

p.p_3
{
	margin-left: 45pt;
	text-align: center;
	font-weight: bold;
}

p.p_4
{
	margin-left: 45pt;
	text-align: center;
	font-weight: bold;
	color: #333333;
}

p.p_5
{
	margin-left: 45pt;
}

p.NormalWeb_1
{
	font-size: 12pt;
	margin-top: 5pt;
	margin-bottom: 5pt;
	font-family: 'Times New Roman';
	margin-left: 45pt;
}

table.table_1
{
	border-collapse: collapse;
}

col.col_6
{
	width: 131pt;
}

col.col_7
{
	width: 126pt;
}

col.col_8
{
	width: 120pt;
}

span.span_1
{
	color: #172B4D;
}

p.NormalWeb_2
{
	font-size: 12pt;
	margin-top: 5pt;
	margin-bottom: 5pt;
	font-family: 'Times New Roman';
	color: #172B4D;
}

p.NormalWeb_3
{
	font-size: 12pt;
	margin-top: 5pt;
	margin-bottom: 5pt;
	font-family: 'Times New Roman';
	margin-left: 23pt;
}

