* {
  box-sizing: border-box;
}
div.side-content	/*Used on OtherTopics.flmsp for the search-bar and menu*/
{
	width: 300px;
	float: right;
	margin-left: 15px;
	margin-bottom: 15px;
	position: relative;
	z-index: 1; 
}
body {
    font-size: 12.0pt;
	font-family: Arial, Avenir, Myriad;
	margin-top: 20px;
	margin-bottom: 20px;
	line-height: 20pt;
	letter-spacing: 0.25;  
}
.wrapper {
  width: 100%;
  margin: 0 auto;
z-index: 0;

}
.tabs {
  position: relative;
  margin: 0px;
  background: inherit;
 
}
.tabs::before,
.tabs::after {
  content: "";
  display: table;

}
.tabs::after {
  clear: both;
  color: #FF1744;

}
.tab {
  float: left;
  border: #FFF;
  
}
.tab-switch {
  display: none;
}
.tab-label {
  position: relative;
  display: block;
  line-height: 2.75em;
  height: 3em;
  background: inherit;
  border-right: 0.125rem solid;
  color: #fff;
  cursor: pointer;
  top: 0;
  transition: all 0.25s;
}

.tab-label a {
 padding: 1.618em;
 text-decoration: none;
}

.tab-label:hover {
  top: -0.25rem;
  transition: top 0.25s;
  
}  

.tab-link:hover {
	background: #BBDEFB;
	color: #FF1744;
	display: inline-block;
	padding: 10px 10px;
	cursor: pointer;
	margin-left: -5px;
	border: 1px solid transparent;	
}
  
.tab-content {
  height: 100%;
  position: absolute;
  top: 2.75em;
  left: 0;
  padding: 1.618rem;
  background: #inherit;
  color: #2c3e50;
  opacity: 0;
  transition: all 0.35s;
  z-index: 0;
 }
 
.tab-switch:checked + .tab-label {
  background: #fff;
  color: #FF1744;
  border-bottom: 0;
  border-right: 0.125rem solid #FFF;
  transition: all 0.35s;
  top: -0.0625rem;
  z-index: 0;
}
.tab-switch:checked + label + .tab-content {
  opacity: 1;
  transition: all 0.35s;
  z-index: 0;
}