/*<meta />*/

body
{
	color: #000000;
	background: #F1F2EC;
	font-size: 70%;
	font-family: Verdana, Arial, Helvetica, Sans Serif;
	margin-left: 0em;
	padding-left: 1.5em;
	padding-right: 1em;
	border-bottom-width: .5em;
	border-left-width: .5em;
	border-right-width: .5em;
	border-top-width: .5em;
}

h1
{
	color: #002000;
	font-size: 125%;
	margin-bottom: .5em;
	clear: both;
	width: 85%;
}

h2
{
	color: #002b00;
	font-size: 110%;
	margin-top: 1.5em;
	margin-bottom: .5em;
	clear: both;
}

h3
{
	color: #002b00;
	font-size: 100%;
	margin-top: 1.2em;
	margin-bottom: .5em;
	clear: both;
}

h4
{
	color: #002b00;
	font-size: 100%;
	margin-top: 1.2em;
	margin-bottom: .5em;
	clear: both;
}

a.Popup
{
	
}

a:link
{
	color: #0000D0;
	text-decoration: underline;
}

a:visited
{
	color: #800080;
	text-decoration: underline;
}

a:hover
{
	color: #FF0000;
	cursor: hand;
	text-decoration: underline;
}

a:active
{
	color: #FF0000;
	cursor: hand;
	text-decoration: underline;
}

p
{
	margin-bottom: .5em;
	margin-top: .5em;
}

li
{
	color: #000000;
	margin-bottom: .6em;
	margin-top: .6em;
}

ol
{
	margin-top: .5em;
	margin-bottom: 0em;
	margin-left: 2.1em;
	margin-right: 2.1em;
	padding-left: 1em;
}

ul
{
	margin-top: .6em;
	margin-bottom: 0em;
	list-style-type: disc;
	margin-left: 1.5em;
	margin-right: 1.5em;
	padding-left: 1em;
}

p.tip
{
	color: #BEF5BF;
	font-weight: bold;
	letter-spacing: normal;
	background-color: #696969;
	margin-bottom: 0.8em;
	margin-left: .1em;
	margin-top: 1.7em;
	padding-left: 0.8em;
	padding-right: 0.8em;
	padding-bottom: 0.3em;
	padding-top: 0.3em;
	border-bottom-color: #000000;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-top-color: #000000;
	border-top-style: Solid;
	border-top-width: 1px;
	font-size: 1em;
}

li.MadCap1
{
	list-style: lower-alpha;
	margin-left: 1em;
}

td
{
	font-size: .7em;
	font-family: Verdana, Arial, Helvetica, Sans Serif;
	margin-left: 0em;
	padding-left: 1.5em;
	padding-right: 1em;
	border-bottom-width: .5em;
	border-left-width: .5em;
	border-right-width: .5em;
	border-top-width: .5em;
}

td.Body
{
	background-color: #000080;
	padding-right: 10px;
	padding-left: 10px;
	border-top-color: #ffffff;
	border-top-style: Solid;
	border-top-width: 2px;
	border-right-width: 2px;
	border-right-style: Solid;
	border-right-color: #ffffff;
	border-bottom-color: #ffffff;
	border-bottom-style: Solid;
	border-bottom-width: 2px;
}

.TBLhead
{
	color: #002b00;
	margin-top: 1.5em;
	margin-bottom: .5em;
	clear: both;
	font-weight: bold;
}

.ver_icon_size
{
	border: none;
	padding-bottom: -0.5em;
	height: inherit;
	width: 7%;
	vertical-align: middle;
}