@charset "UTF-8";

html { line-height: 1.15; /* 1 */ -ms-text-size-adjust: 100%; /* 2 */ -webkit-text-size-adjust: 100%; /* 2 */ }
body { margin: 0; }
article, aside, footer, header, nav, section { display: block; }
h1 { font-size: 2em; margin: 0.67em 0; }
figcaption, figure, main { /* 1 */ display: block; }
figure { margin: 1em 40px; }
hr { -webkit-box-sizing: content-box; box-sizing: content-box; /* 1 */ height: 0; /* 1 */ overflow: visible; /* 2 */ }
pre { font-family: monospace, monospace; /* 1 */ font-size: 1em; /* 2 */ }
a { background-color: transparent; /* 1 */ -webkit-text-decoration-skip: objects; /* 2 */ }
b, strong { font-weight: inherit; }
b, strong { font-weight: bolder; }



/* Hidden ========================================================================== */

html { -webkit-box-sizing: border-box; box-sizing: border-box; }
*, *:before, *:after { -webkit-box-sizing: inherit; box-sizing: inherit; }
button, gbutton, input, optgroup, select, textarea { font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; }
ul:not(.browser-default) { padding-left: 0; list-style-type: none; }
ul:not(.browser-default) > li { list-style-type: none; }
a { color: #039be5; text-decoration: none; -webkit-tap-highlight-color: transparent; }
.clearfix { clear: both; }

.wrapper {
  max-width: 1180px;
  width: 90%;
  margin: 0 auto;
}



.page-footer { padding-top: 20px; color: #fff; background-color: #ee6e73; }

.page-footer .footer-copyright { overflow: hidden; min-height: 50px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; padding: 10px 0px; color: rgba(255, 255, 255, 0.8); background-color: rgba(51, 51, 51, 0.08); }



html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; outline: 0; vertical-align: baseline; background: transparent; }

*, *:before, *:after { -webkit-box-sizing: inherit; box-sizing: inherit; }

html { font-size: 10px; -webkit-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004); }

a { background-color: transparent; -webkit-font-smoothing: antialiased; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004); }

img { border-style: none; }

[hidden] { display: none; }

/*-------------------------------------------------
>> Clearing styles
-------------------------------------------------*/
.clear { content: ""; display: table; table-layout: fixed; clear: both; }

.clear:after, .clear:before { clear: both; }

/*------------------------------------------------------------------
> Typography
------------------------------------------------------------------*/
/*-------------------------------------------------
>> Styles for headings
-------------------------------------------------*/
h1, h2, h3, h4, h5, h6 { font-weight: 700; margin: 0 0 2.5rem 0; text-transform: initial; color: #0E0033; clear: both; line-height: 1.2; }

h1 { font-size: 76px; font-size: 7.6rem; font-weight: 700; line-height: 1; margin-bottom: 2.5rem; }

h2 { font-size: 46px; font-size: 4.6rem; }

h3 { font-size: 36px; font-size: 3.6rem; }

h4 { font-size: 32px; font-size: 3.2rem; }

h5 { font-size: 26px; font-size: 2.6rem; }

h6 { font-size: 20px; font-size: 2rem; }

.heading { font-weight: 700; font-size: 76px; font-size: 7.6rem; color: #0E0033; line-height: 1.1; margin-bottom: 2rem; }

.bigger-heading { font-weight: 700; font-size: 96px; font-size: 9.6rem; color: #0E0033; line-height: 1; margin-bottom: 3.5rem; }

h4.med { font-weight: 500; }

.m-wrapper {
    max-width: 980px;
    width: 90%;
    margin: 0 auto;
}
.heading-big {
    font-size: 8.6rem;
}
.heading-big span {
    display: block;
    color: rgba(255,255,255,.6);
}

/*-------------------------------------------------
>> Styles for links
-------------------------------------------------*/
a { text-decoration: none; -webkit-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out; outline: none; }


.half-input-field:nth-child(2n + 1) { margin-right: 0 !important; }

.half-input-field:nth-child(2n + 1):after { content: ""; display: block; clear: both; height: 1px; position: absolute; }

/*-------------------------------------------------
>> Styles for header
-------------------------------------------------*/

.no-overflow { overflow: hidden; }

header { padding: 14px 40px 0 40px; -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; z-index: 99999; -webkit-box-sizing: border-box; box-sizing: border-box; width: 92%; position: fixed; top: 0; max-width: 1260px; left: 0; right: 0; margin: 0 auto; background-color: #FFFFFF; -webkit-box-shadow: 0px 0px 20px rgba(41, 98, 255, 0.12); box-shadow: 0px 0px 20px rgba(41, 98, 255, 0.12); border-radius: 0px 0px 10px 10px; -webkit-border-radius: 0px 0px 10px 10px; -moz-border-radius: 0px 0px 10px 10px; -o-border-radius: 0px 0px 10px 10px; }

header a.gbutton.trp { margin-left: 10px; }

.logo { position: relative; z-index: 99999; padding-top: 3px; }

.left-header { line-height: 1; float: left; }

.right-header { float: right; width: 820px; }

.no-overflow .left-header { z-index: 99999; height: 85px; position: fixed; margin: 0 auto; top: 0; left: 0; bottom: 0; right: 0; padding: 20px 20px 15px 15px; width: 92%; background-color: #FFFFFF; -webkit-box-shadow: 0px 0px 20px rgba(14, 0, 51, 0.08); box-shadow: 0px 0px 20px rgba(14, 0, 51, 0.08); border-radius: 0 0 10px 10px; -webkit-border-radius: 0 0 10px 10px; -moz-border-radius: 0 0 10px 10px; -o-border-radius: 0 0 10px 10px; }

.header-btns { margin-top: 0; float: right; width: 280px; text-align: right; }

.header-btns a.login-icon { font-weight: 400; font-size: 17px; margin: 15px 3.5rem 0 0; }

.header-btns a.login-icon:hover { text-decoration: none; }

.mobile-show { display: none; }

.header-links { text-align: right; margin-bottom: 18px; }

.header-links ul { margin: 0; line-height: 1; padding: 0; list-style-type: none; }

.header-links ul li { display: inline-block; font-size: 14px; margin: 0 0 0 12px; }

.header-links ul li a, .header-links ul li a:visited { color: rgba(14, 0, 51, 0.7); }

.header-links ul li a:hover, .header-links ul li a:visited:hover { color: #FF1744; text-decoration: none; }

/*-------------------------------------------------
>> Styles for desktop menu
-------------------------------------------------*/
@media (min-width: 1024px) { .main-menu ul li:hover > ul { opacity: 1; visibility: visible; overflow: visible; }
  .main-menu ul ul { -webkit-animation-delay: 0.6s; animation-delay: 0.6s; opacity: 0; visibility: hidden; overflow: hidden; -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; } }

.main-menu { line-height: 1; float: left; width: 505px; padding-top: 10px; }

.main-menu ul { margin: 0; padding: 0; position: relative; }

.main-menu ul li { margin: 0 40px 0 0; padding: 0; float: left; position: relative; font-size: 17px; line-height: 1; font-weight: 500; }

.main-menu ul li:last-child { margin-right: 0; }

.main-menu ul li a, .main-menu ul li a:visited { padding: 0 0 31px 0; display: inline-block; line-height: 1; font-size: 17px; border: 0; position: relative; color: #0E0033; }

.main-menu ul li a:after, .main-menu ul li a:visited:after { content: ''; position: absolute; width: 100%; height: 4px; bottom: 0; left: 0; background-color: #FF1744; -webkit-transform: scaleX(0); transform: scaleX(0); -webkit-transform-origin: bottom right; transform-origin: bottom right; -webkit-transition: -webkit-transform 0.3s; transition: -webkit-transform 0.3s; transition: transform 0.3s; transition: transform 0.3s, -webkit-transform 0.3s; }

.main-menu ul li.current-menu-item a, .main-menu ul li.current-menu-parent a, .main-menu ul li.current-page-ancestor a, .main-menu ul li a:hover { border: 0; color: #0E0033; }

.main-menu ul li.current-menu-item a:after, .main-menu ul li.current-menu-parent a:after, .main-menu ul li.current-page-ancestor a:after, .main-menu ul li a:hover:after { -webkit-transform-origin: bottom left; transform-origin: bottom left; -webkit-transform: scaleX(1); transform: scaleX(1); }

.main-menu ul ul { opacity: 0; -webkit-box-shadow: 0px 30px 60px rgba(18, 27, 32, 0.15); box-shadow: 0px 30px 60px rgba(18, 27, 32, 0.15); visibility: hidden; padding: 26px; border-radius: 12px; -webkit-border-radius: 12px; -moz-border-radius: 12px; -o-border-radius: 12px; position: absolute; top: 50px; left: -25px; z-index: 9; background-color: #FFFFFF; overflow: hidden; background-color: #FFFFFF; text-align: left; -webkit-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out; text-align: left; width: 300px; }

.main-menu ul ul:before { content: ""; width: 1px; height: 17px; position: absolute; top: -10px; left: 0px; right: 0; margin: auto; border-left: 14px solid transparent; border-right: 14px solid transparent; border-bottom: 14px solid #ffffff; -webkit-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out; }

.main-menu ul ul li { display: block; margin: 0 0 10px 0; float: none; }

.main-menu ul ul li:last-child { margin: 0; }

.main-menu ul ul li a, .main-menu ul ul li a:visited { font-size: 16px; padding: 0 !important; display: block; line-height: 1.4; -webkit-box-sizing: border-box; box-sizing: border-box; position: relative; color: #151922; -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; font-weight: 400; }

.main-menu ul ul li a:after, .main-menu ul ul li a:visited:after { display: none; }

.main-menu ul ul li a:hover { color: #FF1744; }

.main-menu ul ul li.current-menu-item a, .main-menu ul ul li.current-menu-parent a { border-bottom: none; }

.main-menu ul ul ul { top: -10px; left: 220px; }

.main-menu ul ul ul:before { display: none; content: ""; width: 1px; height: 1px; position: absolute; top: 12px; left: -5px; margin: auto; border-left: none; border-top: 3px solid transparent; border-bottom: 3px solid transparent; border-right: 4px solid #FFFFFF; }

.liquibase-org .main-menu ul li a:after, .liquibase-org .main-menu ul li a:visited:after { background-color: #FF3D00; }

.liquibase-org .main-menu ul ul li a:hover { color: #FF3D00; }

/*-------------------------------------------------
>> Styles for mobile menu
-------------------------------------------------*/
@media (max-width: 1023px) { .logged-in.admin-bar header { top: 32px; }
  .logged-in.admin-bar .menu-btn { top: 72px; }
  .logged-in.admin-bar.no-overflow .menu-btn { top: 40px; }
  .main-menu { width: 100%; padding: 0; margin-left: 2rem; text-align: left; padding-bottom: 3rem; }
  .header-btns { float: none; width: 100%; text-align: center; display: block; }
  .right-header, .left-header { width: 100%; float: none; }
  .menu-overlay .main-menu ul { margin: 0; padding: 0; background: transparent; width: 100%; }
  .menu-overlay .main-menu ul li { padding: 0; margin: 0 0 2rem 0; position: relative; display: block; float: none; opacity: 1; }
  .menu-overlay .main-menu ul li a, .menu-overlay .main-menu ul li a:visited { color: #0E0033; padding: 0px; line-height: 1; font-weight: 500; font-size: 28px; font-weight: 700; border-bottom: none; display: inline-block; position: relative; }
  .menu-overlay .main-menu ul li a:after, .menu-overlay .main-menu ul li a:visited:after { display: none; }
  .menu-overlay .main-menu ul li.current-menu-item > a, .menu-overlay .main-menu ul li.current-menu-parent > a, .menu-overlay .main-menu ul li a:hover { border-bottom: none; color: #2962FF; }
  .menu-overlay .main-menu ul ul { display: none; padding-left: 18px; position: relative; top: initial; left: initial; opacity: initial; visibility: initial; overflow: visible; -webkit-box-shadow: none; box-shadow: none; }
  .menu-overlay .main-menu ul ul li { padding: 6px 0; }
  .menu-overlay .main-menu ul ul li a, .menu-overlay .main-menu ul ul li a:visited { padding: 0; text-transform: inherit; font-family: "Roboto", Helvetica, Arial, sans-serif; font-weight: 400; font-size: 20px; margin-bottom: 0; }
  .menu-overlay .main-menu ul ul li.current-menu-item a, .menu-overlay .main-menu ul ul li.current-menu-parent a { color: #2962FF; }
  .menu-overlay { position: fixed; background: #FFFFFF; top: 0; left: 0; width: 100%; height: 100%; height: 100vh; opacity: 0; visibility: hidden; overflow: visible; -webkit-box-sizing: border-box; box-sizing: border-box; z-index: 99990; -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
  .menu-overlay.open { opacity: 1; visibility: visible; overflow: visible; }
  header .menu-container { padding: 95px 3% 1rem 3%; opacity: 0; height: 100%; -webkit-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out; -webkit-transition-delay: 0.25s; transition-delay: 0.25s; -webkit-box-sizing: border-box; box-sizing: border-box; }
  header .menu-overlay.open .menu-container { opacity: 1; padding: 15rem 3% 1rem 3%; }
  header.shrink .menu-container { padding: 19rem 3% 1rem 3%; }
  header.shrink .menu-overlay.open .menu-container { opacity: 1; padding: 19rem 3% 1rem 3%; }
  .menu-content { height: 100%; max-height: 100%; overflow-y: scroll; overflow-x: hidden; -webkit-box-sizing: border-box; box-sizing: border-box; }
  .menu-content::-webkit-scrollbar-track { -webkit-box-shadow: none; box-shadow: none; background-color: transparent; }
  .menu-content::-webkit-scrollbar { width: 3px; background-color: transparent; position: relative; left: 5px; -webkit-box-shadow: none; box-shadow: none; }
  .menu-content::-webkit-scrollbar-thumb { -webkit-box-shadow: none; box-shadow: none; border-radius: 2px; }
  .header-btns { float: none; width: 100%; text-align: center; display: block; opacity: 0; -webkit-transition: all 0.55s ease-in-out; transition: all 0.55s ease-in-out; -webkit-transition-delay: 0.4s; transition-delay: 0.4s; padding-top: 10px; }
  .menu-overlay.open .header-btns { opacity: 1; padding-top: 0px; max-width: 315px; margin: 0 auto; }
  .menu-overlay.open .header-btns a.gbutton { display: block; font-size: 18px; padding: 18px; margin-bottom: 20px; }
  .menu-overlay.open .header-btns a.gbutton.trp { margin-left: 0; }
  .menu-btn { display: block; position: fixed; top: 40px; right: 4%; margin-right: 20px; height: 18px; width: 28px; cursor: pointer; z-index: 99999; -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
  header.shrink .menu-btn { top: 40px; }
  .menu-btn.active .top { -webkit-transform: translateY(5px) translateX(0) rotate(-45deg); transform: translateY(5x) translateX(0) rotate(-45deg); background: #2962FF; -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
  .menu-btn.active .middle { opacity: 0; background: #2962FF; }
  .menu-btn.active .bottom { -webkit-transform: translateY(-11px) translateX(0) rotate(45deg); transform: translateY(-11px) translateX(0) rotate(45deg); background: #2962FF; -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
  .menu-btn span { background: #2962FF; border: none; height: 2px; width: 100%; position: absolute; top: 0; left: 0; cursor: pointer; -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
  .liquibase-org .menu-btn span, .liquibase-org .menu-btn.active .top, .liquibase-org .menu-btn.active .middle, .liquibase-org .menu-btn.active .bottom { background: #FF3D00; }
  .menu-btn span:nth-of-type(2) { top: 8px; }
  .menu-btn span:nth-of-type(3) { top: 16px; }
  li.menu-item-has-children .submenu-icon { z-index: 99999; top: 3px; display: inline-block; height: 20px; width: 40px; cursor: pointer; background-image: url(../Images/Glide/menu-arrow-down.svg); background-repeat: no-repeat; background-position: center; }
  li.menu-item-has-children.active > .submenu-icon { background-image: url(../Images/Glide/menu-arrow-up.svg); background-repeat: no-repeat; background-position: center; } }


.no-overflow .menu-overlay.open ul ul { -webkit-transition: none; transition: none; padding-left: 0; padding-top: 10px; }

.menu-overlay .main-menu ul ul li { padding: 10px 0; margin-bottom: 0; }

.menu-overlay .main-menu ul ul:before { display: none; }

/*-------------------------------------------------
>> Styles for Masthead
-------------------------------------------------*/
.banner-container { text-align: center; background-color: rgba(187, 222, 251, 0.4); position: relative; }

.banner-container.colored-banner { background-image: url(../Images/Glide/blue-banner-bg.png); background-repeat: no-repeat; background-position: left top; background-size: cover; }

.banner-container.colored-banner .banner-sub-heading { color: #FFFFFF; }

.banner-container.white-banner { background-color: #FFFFFF; }

.banner-container.blog-banner-org { text-align: left; }

.white-banner .banner-bg-area { padding: 20.5rem 0 30rem 0; }

.banner-animation { position: absolute; left: 0; width: 100%; bottom: -9px; }

.banner-text { max-width: 780px; margin: 0 auto; position: relative; z-index: 1; }

.banner-buttons a.gbutton:nth-child(2) { margin-left: 15px; }

.subhead-text { font-weight: 500; margin-bottom: 4rem; }

.banner-content { max-width: 578px; margin: 0 auto; }

.banner-content a.gbutton { margin-top: 1rem; }

.lead-text p { margin: 0; }

.banner-sub-heading { font-weight: 700; font-size: 22px; margin-bottom: 2rem; color: #0E0033; }

.heading span { display: block; color: rgba(255, 255, 255, 0.6); }

.banner-bg-area { padding: 20.5rem 0 20rem 0; background-image: url(../Images/Glide/banner-shape.png); background-repeat: no-repeat; background-position: calc(50% + 340px) -120px; min-height: 520px; }

.banner-bg-area:after { background-image: url(../Images/Glide/inner-banner-shape.png); background-repeat: no-repeat; background-position: left bottom; background-size: 100% 50%; content: ""; position: absolute; width: 100%; display: block; height: 500px; bottom: -5px; }

.archive.category .banner-bg-area, .archive.tag .banner-bg-area { min-height: auto; }

.archive.category .blog-page-isotope, .archive.tag .blog-page-isotope { margin-top: 0; }

.colored-banner h1, .colored-banner p { color: #FFFFFF; }

.colored-banner .banner-bg-area { background-image: url(../Images/Glide/banner-shape-blue.png); padding-bottom: 20rem; }

.colored-banner .banner-bg-area:after { background-image: url(/Images/Glide/home-banner-shape.png);}

.colored-banner.white-page-content .banner-bg-area:after { background-image: url(../Images/Glide/inner-banner-shape.png); }


/*-------------------------------------------------
>> Styles for footer
-------------------------------------------------*/
footer { padding: 25rem 0 12rem 0; background-image: url(../Images/Glide/footer-bg.svg), url(../Images/Glide/footer-gradient-bg.png); background-repeat: no-repeat; background-position: calc(50% + 265px) -325px, left top; background-size: 62%, cover; }

.footer-cta-container { background-image: url(../Images/Glide/cta-lblue-bg.png); background-repeat: no-repeat; background-size: cover; border-radius: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; -o-border-radius: 10px; padding: 7.2rem 0 8rem 0; position: relative; top: 150px; overflow: hidden; }

.cta-shape { position: absolute; right: 0; bottom: -5px; }

.cta-icon { position: absolute; top: 45px; left: -95px; }

.footer-form-area .gfield_required { display: none; }

.footer-cta { max-width: 780px; margin: 0 auto; width: 90%; position: relative; }

.footer-cta h2 { margin-bottom: 17px; }

.footer-cta p { color: #0E0033; }

.footer-cta a.gbutton { margin-right: 15px; }

.cta.gbuttons { padding-top: 13px; }

.footer-left-widget { width: 30%; text-align: center; float: left; }

.footer-left-widget ul { margin: 0; }

.footer-left-widget ul li { margin-bottom: 22px; }

.footer-widgets { float: left; width: 70%; }

.footer-widget { float: left; width: 19.8%; margin: 0 4.8% 5.5rem 0; }

.footer-widget h4 { font-size: 18px; margin-top: 10px; margin-bottom: 3.4rem; line-height: 1; color: #FFFFFF; }

.footer-widget ul { margin: 0; padding: 0; list-style: none; }

.footer-widget ul li { line-height: 1; margin-bottom: 22px; font-size: 17px; }

.footer-widget ul li a, .footer-widget ul li a:visited { color: rgba(255, 255, 255, 0.8); position: relative; }

.footer-widget ul li a:after, .footer-widget ul li a:visited:after { content: ""; height: 1px; width: 0; background-color: #FFFFFF; display: block; position: absolute; -webkit-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out; }

.footer-widget ul li a:hover, .footer-widget ul li a:visited:hover { color: #FFFFFF; text-decoration: none; }

.footer-widget ul li a:hover::after, .footer-widget ul li a:visited:hover::after { width: 100%; }

.widget-inner { max-width: 280px; }

.footer-logo { width: 162px; margin: 0 auto 20px auto; }

.footer-socials { margin-bottom: 3.3rem; }

.footer-socials a { width: 22px; height: 22px; display: inline-block; opacity: 0.3; margin: 0 7px; background-repeat: no-repeat; background-position: center; }

.footer-socials a:hover { opacity: 0.7; text-decoration: none; }

.footer-socials a.f-twitter { background-image: url(../Images/Glide/twitter-icon.svg); }

.footer-socials a.f-github { background-image: url(../Images/Glide/github-icon.svg); }

.footer-socials a.f-reddit { background-image: url(../Images/Glide/reddit-icon.svg); }

.footer-socials a.f-linkedin { background-image: url(../Images/Glide/linkedin-icon.svg); }

.footer-socials a.f-youtube { background-image: url(../Images/Glide/youtube-icon.svg); }

.copyright { color: rgba(255, 255, 255, 0.5); }

.copyright p { margin-bottom: 1.5rem; }

.copyright, .footer-menu { display: inline-block; font-size: 16px; }

.footer-menu ul { margin: 0; padding: 0; list-style-type: none; }

.footer-menu ul li { display: inline-block; margin-right: 20px; margin-bottom: 0; }

.footer-menu ul li a, .footer-menu ul li a:visited { color: rgba(255, 255, 255, 0.5); border-bottom: 1px solid rgba(255, 255, 255, 0.5); font-size: 16px; }

.footer-menu ul li a:hover, .footer-menu ul li a:visited:hover { color: rgba(255, 255, 255, 0.8); border-bottom: 1px solid rgba(255, 255, 255, 0.8); }

.copyright { margin-right: 25px; }


/*-------------------------------------------------
>> Basic styles for theme
-------------------------------------------------*/
/****
 *
 * body
 *
****/
body { font-family: "Roboto", Helvetica, Arial, sans-serif; font-weight: 400; font-size: 20px; font-size: 2rem; -webkit-transition: padding 0.2s ease; transition: padding 0.2s ease; color: rgba(14, 0, 51, 0.7); line-height: 1.5; letter-spacing: 0.2px; }

p { margin: 0 0 3rem 0; }

/****
 *
 * buttons
 *
****/
a.gbutton, a.gbutton:visited { padding: 10px 18px 11px 18px; display: inline-block; line-height: 1; -webkit-box-sizing: border-box; box-sizing: border-box; border: 1px solid transparent; font-size: 17px; background-color: #FF1744; color: #FFFFFF; font-weight: 700; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -o-border-radius: 5px; min-width: 130px; text-align: center; letter-spacing: 0; }

a.gbutton:hover, a.gbutton:visited:hover { background-color: #dd002b; color: #FFFFFF; text-decoration: none; }

a.gbutton.trp, a.gbutton:visited.trp { background-color: #FFFFFF; border: 1px solid #2962FF; color: #2962FF; }

a.gbutton.trp:hover, a.gbutton:visited.trp:hover { background-color: #EAEFFF; }

a.gbutton.trp.white-clr, a.gbutton:visited.trp.white-clr { color: #FFFFFF; border: 1px solid #FFFFFF; background-color: transparent; }

a.gbutton.trp.white-clr:hover, a.gbutton:visited.trp.white-clr:hover { background-color: rgba(255, 255, 255, 0.15); }

a.gbutton.big, a.gbutton:visited.big { font-size: 20px; padding: 19px 29px; }

a.gbutton.org, a.gbutton:visited.org { background-color: #FF3D00; }

a.gbutton.org:hover, a.gbutton:visited.org:hover { background-color: #e03600; }

a.gbutton.org.trp, a.gbutton:visited.org.trp { border: 1px solid #FF3D00; background-color: #FFFFFF; color: #FF3D00; }

a.gbutton.org.trp:hover, a.gbutton:visited.org.trp:hover { background-color: rgba(255, 61, 0, 0.1); }

a.gbutton.blue-clr, a.gbutton:visited.blue-clr { background-color: #2962FF; }

a.gbutton.blue-clr:hover, a.gbutton:visited.blue-clr:hover { background-color: #0a4cff; }

a.gbutton:after, a.gbutton:visited:after { display: none; }

a.gbutton.med, a.gbutton:visited.med { padding: 17px 24px 18px 24px; font-size: 18px; }

a.gbutton.download-icon, a.gbutton:visited.download-icon { background-image: url(../Images/Glide/download-icon.svg); background-repeat: no-repeat; padding-left: 6.5rem !important; background-position: left 25px center; }

a.gbutton.tab-btn, a.gbutton:visited.tab-btn { background-color: transparent; color: #0E0033; border-color: #0E0033; }

.no-visible { visibility: hidden; }

.white-icon { display: none; }

.white-logo { display: none; }




/*------------------------------------------------------------------
> Responsive
------------------------------------------------------------------*/
/*-------------------------------------------------
>> Responsive queries
-------------------------------------------------*/
@media only screen and (min-width: 1200px) and (max-width: 1365px) { .trial-right-col { margin-right: 0; }
  .trial-right-col.download-banner-content { max-width: 500px; } }

@media only screen and (min-width: 1024px) and (max-width: 1199px) { .trial-right-col { max-width: 415px; margin-right: 0; }
  .close-btn { right: 15px; }
  .single-feature { padding: 0 2rem; }
  .partner-box { padding-bottom: 0; }
  .trial-right-col.download-banner-content { max-width: 410px; }
  .form-desc { margin-top: 3rem; }
  .features-list ul li { font-size: 16px; }
  .features-list ul li:before { top: 3px; }
  .single-partner { padding: 3rem; }
  .partners-isotope.partner-lists .element-item { width: 22.2%; }
  .pkg-detail ul li { font-size: 14px; }
  .single-table { padding: 2.5rem 1.5rem 2.7rem 1.5rem; }
  .resources-detail-area { padding: 0 3rem; }
  .resources-content h2 { font-size: 3.6rem; }
  .resources-content h4 { font-size: 20px; }
  .resources-sidebar { width: 27%; padding: 7rem 0 0 22px; }
  .resources-content { width: 73%; padding: 6rem 5rem 5rem 0; }
  .right-header { width: 680px; }
  .main-menu { width: 385px; }
  .main-menu ul li { margin: 0 10px 0 0; float: none; display: inline-block; }
  .main-menu ul li a { font-size: 16px; }

  .footer-left-widget { width: 28%; margin-right: 4%; }
  .footer-widgets { width: 68%; }
  .footer-widget { width: 21.8%; margin: 0 2% 3rem 0; }
  .content { min-height: 190px; } }

@media only screen and (min-width: 768px) and (max-width: 1023px) { .banner-bg-area:after { height: 350px; }
  .footer-bottom { padding-bottom: 10rem; }
  .banner-bg-area { padding: 15rem 0 5rem 0; min-height: 450px; }
  .resources-content.no-sidebar { padding-right: 0; }
  .content h5 { min-height: 52px; }
  .single-team { margin-bottom: 0; }
  .single-team p { min-height: 270px; }

  .heading-big { font-size: 56px; font-size: 5.6rem; }
  .reading-container .wrapper { width: 100%; }
  .reading-container h2 { font-size: 4rem; }
  .detail-inner h2 { max-width: 80%; margin: 0 auto 4.5rem auto; }
  .lead-text { font-size: 18px; }
  .heading, .banner-left .heading { font-size: 50px; font-size: 5rem; }
  .bigger-heading { font-size: 50px; font-size: 5rem; }
  h1 { font-size: 50px; font-size: 5rem; }
  h2, .blog-detail-container h1 { font-size: 34px; font-size: 3.4rem; }
  h3 { font-size: 30px; font-size: 3rem; }
  h4 { font-size: 26px; font-size: 2.6rem; }
  h5, .iwd-detail h5 { font-size: 22px; font-size: 2.2rem; line-height: 1.2; }
  h6 { font-size: 20px; font-size: 2rem; }

  a.gbutton, a.gbutton:visited { font-size: 15px; min-width: auto; }
  a.gbutton.med, a.gbutton:visited.med { padding: 15px 18px 16px 18px; font-size: 17px; }
  a.gbutton.big, a.gbutton:visited.big { padding: 17px 25px; font-size: 18px; }

  .footer-cta { text-align: center; }
  .footer-cta a.gbutton { margin: 0 0 0 15px; }
  .footer-cta-container { top: 50px; }
  footer { padding: 22rem 0 7rem 0; margin-top: -10rem; }
  .footer-left-widget { width: 100%; float: none; margin-bottom: 4rem; }
  .widget-inner { margin: 0 auto; }
  .footer-widgets { float: none; width: 100%; }
  .page-intro p { font-size: 2.6rem; }
  .download-cta-content h4 { font-size: 22px; }
  .blog-post-org a { padding: 3rem 2.5rem; }
  .faq-container { padding: 5rem 0; }
  .faqs-area { padding-top: 1rem; }
  .faq a { padding: 2.8rem 5rem 2.8rem 2rem; }
  .faq-container .faq-content { padding: 0 3rem 25px 2rem; font-size: 17px; }
  .icons-tiles .single-icon-tile { width: 48%; float: left; margin-right: 4%; margin-bottom: 4%; }
  .icons-tiles .single-icon-tile:nth-child(2n + 2) { margin-right: 0; }
  .icon-tiles-area { padding: 4rem; }
  .code-area.mobile-hide { width: 46%; }
  .code-area.mobile-hide img { max-width: 75%; }
  .code-snippet-text { padding-left: 0; width: 54%; }
  .code-snippet-text h3 br { display: none; }
  .code-snippet-text p { font-size: 17px; }
  .testimonials-container .testimonial p { font-size: 3rem; }
  .trial-right-col { float: none; width: 100%; margin-right: 0; text-align: center; max-width: 500px; margin: 0 auto 4rem auto; }
  .features-list { margin-top: 0; text-align: left; padding-top: 36rem; }
  .single-resources .features-list { padding-top: 4rem; }
  .page-template-template-download .features-list, .page-template-template-signup .features-list { padding-top: 25rem; }
  .page-template-template-signup .banner-bg-area, .page-template-template-download .banner-bg-area { height: 765px; }
  .inquiry-form { float: none; width: 100%; position: relative; z-index: 1; margin: 0 auto; }
  .form-desc { margin-top: 3rem; }
  .trial-right-col.download-banner-content { max-width: 532px; width: 100%; margin: 0 auto; text-align: left; }
  .single-feature { width: 48%; max-width: 100%; } }

@media only screen and (max-width: 1023px) { .logo, .liquibase-logo { width: 120px; padding-top: 0; top: 18px; }
  header { height: 85px; padding: 20px 20px 15px 15px; }
  .header-links { display: none; }
  .header-links.mobile-show { display: block; clear: both; text-align: left; margin: 0 0 0 2rem; padding-bottom: 3rem; }
  .header-links.mobile-show ul li { margin: 0 0 21px 0; font-size: 20px; display: block; }
  .resources-sidebar { float: none; width: 100%; padding: 0 0 2rem 0; border-bottom: 1px solid rgba(14, 0, 51, 0.1); }
  #left { width: 100%; position: initial !important; }
  .resources-detail-area { padding: 30px 25px; }
  .resources-content { width: 100%; float: none; border-right: 0px; padding: 5rem 0; }
  .resources-content h4 { font-size: 20px; }
  .resources-content p { font-size: 17px; line-height: 1.6; }
  .sidebar-links ul li a { color: #0E0033; padding-left: 20px; background-image: url(../Images/Glide/sidebar-red-arrow.svg); background-repeat: no-repeat; background-position: left 6px; }
  .sidebar-links ul li a:before { display: none; }
  .resource-table-veriation { white-space: nowrap; overflow-x: scroll; -webkit-box-shadow: 0px 0px 5px rgba(41, 98, 255, 0.25); box-shadow: 0px 0px 5px rgba(41, 98, 255, 0.25); border-radius: 5px; margin-bottom: 5rem; }
  .resource-table-veriation table { table-layout: initial; margin-bottom: 0; }
  .career-slider .owl-stage-outer { padding-top: 10px; }
  .career-slider .blog-post { float: none; width: 100%; -webkit-transform: rotate(-3deg); transform: rotate(-3deg); }
  .career-slider .owl-stage { padding-left: 0 !important; }
  .post-container.career-slider.owl-carousel.owl-theme { width: 110%; margin-left: -5%; }
  .banner-left { width: 100%; float: none; padding-right: 0; text-align: center; max-width: 780px; margin: 0 auto 4rem auto; }
  .banner-right { width: 100%; float: none; padding-right: 0; text-align: center; max-width: 600px; margin: 0 auto; z-index: 99; }
  .white-banner .banner-bg-area { padding-bottom: 15rem; }
  .white-banner .banner-bg-area:after { height: 250px; }
  .big-image { width: 70%; }
  .small-image { width: 45%; }
  .banner-right img { border-radius: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; -o-border-radius: 10px; } }

@media only screen and (min-width: 600px) and (max-width: 992px) { .multiple-testimonials blockquote { padding: 2rem 1rem; } }

@media only screen and (min-width: 768px) and (max-width: 1023px) { .product-container .single-product-wrapper { width: 48%; margin-bottom: 40px; }
  .product-container .single-product-wrapper .single-product { float: none; width: 100%; margin-right: 0; padding: 3rem 2rem 3rem 2rem; margin-bottom: 0; }
  .product-container .single-product-wrapper .single-product p { font-size: 16px; min-height: auto; } }

@media only screen and (max-width: 767px) { .not-found { margin-right: 0rem; }

  .reading-container .wrapper { width: 100%; }
  .reading-container h2 { font-size: 3.2rem; }
  .banner-bg-area { min-height: 450px; }
  .heading-big { font-size: 46px; font-size: 4.6rem; }
  .subhead-text { font-size: 18px; }
  .lead-text { font-size: 18px; }
  .heading, .banner-left .heading { font-size: 32px; font-size: 3.2rem; }
  .bigger-heading { font-size: 46px; font-size: 4.6rem; }
  h1 { font-size: 46px; font-size: 4.6rem; }
  h2, .blog-detail-container h1 { font-size: 29px; font-size: 2.9rem; }
  h3 { font-size: 26px; font-size: 2.6rem; }
  h4 { font-size: 23px; font-size: 2.3rem; }
  h5, .iwd-detail h5 { font-size: 21px; font-size: 2.1rem; line-height: 1.2; }
  h6 { font-size: 18px; font-size: 1.8rem; }
  .banner-bg-area { padding: 13rem 0 6rem 0; }
  .glide-section { margin-top: 7.5rem; }
  .banner-buttons { max-width: 315px; margin: 0 auto; }
  .banner-buttons a.gbutton, .banner-buttons a.gbutton:visited { display: block; margin-right: 0; }
  .banner-buttons a.gbutton:nth-child(2) { margin-left: 0; margin-top: 20px; }

  a.gbutton, a.gbutton:visited { font-size: 15px; min-width: auto; }
  a.gbutton.med, a.gbutton:visited.med { padding: 15px 18px 16px 18px; font-size: 17px; }
  a.gbutton.big, a.gbutton:visited.big { padding: 17px 25px; font-size: 18px; }
  .iwd-box { float: none; width: 100%; padding: 0; text-align: left; margin-top: 4rem; }
  .iwd-detail p br { display: none; }
  .iwd-image { float: left; margin: 0; min-height: auto; }
  .iwd-image img { max-height: 56px; width: auto; }
  .iwd-detail { float: left; width: calc(100% - +75px); padding-left: 1rem; }
  .valign-wrapper { display: block; }
  .img-alongside-single .img-alongside-content { width: 100%; padding: 0; margin-bottom: 5rem; }
  .img-alongside-single .alongside-img { width: 100%; text-align: left; max-width: 100%; }
  .img-alongside-content p { font-size: 17px; line-height: 1.6; }
  .img-alongside-single.image-at-left .img-alongside-content { padding: 0; }
  .mobile-hide { display: none; }
  .desktop-hide { display: block; }
  .cta-area { padding: 5rem 0; }

  select { background-position: calc(100% - 14px) center; color: #0E0033; margin-bottom: 3rem; }
  .page-intro p { font-size: 2.3rem; }

  .footer-bottom { padding-bottom: 10rem; }
  footer { margin-top: -100px; padding-bottom: 5rem; }
  .footer-cta-container { top: 100px; }
  .footer-left-widget { width: 100%; text-align: center; float: none; margin-bottom: 5rem; }
  .widget-inner { max-width: 280px; margin: 0 auto; }
  .footer-widgets { float: none; width: 100%; }
  .footer-widget { float: left; width: 50%; -webkit-box-sizing: border-box; box-sizing: border-box; padding-right: 1rem; margin: 0 0 1rem 0; }
  .footer-widget ul li { font-size: 15px; }
  .footer-widget h4 { font-size: 17px; font-weight: 500; margin-top: 0; }
  .footer-menu ul li a, .footer-menu ul li a:visited { font-size: 15px; line-height: 1.6; }
  .copyright { font-size: 15px; line-height: 1.6; margin-right: 0; }
  select { font-size: 16px; height: 55px; background-size: 16px; padding-right: 50px; }
  .partner-box { padding-bottom: 0; }
  .ask-question { font-size: 18px; }
  .cta-icon { display: none; }
  .cta.gbuttons { padding-top: 0; max-width: 275px; margin: 0 auto; }
  .cta.gbuttons a.gbutton { margin-right: 0; display: block; margin-top: 20px; }
  .footer-cta-container { padding: 5rem 0; }
  .footer-cta { text-align: center; }
  .detail-social { position: inherit; text-align: center; padding-top: 3.5rem; border-top: 1px solid rgba(14, 0, 51, 0.2); }
  .detail-social ul li { margin: 0 20px 0 0; display: inline-block; }
  .detail-social ul li a { width: 45px; height: 45px; }
  .auther-detail { margin-top: 4.5rem; padding: 5rem 0 2rem; }
  .auther-detail h6 { letter-spacing: 1px; }
  .auther-detail .client-name { font-size: 17px; margin-top: 10px; }
  .auther-detail .client-name span { font-size: 13px; }
  .blog-post-org a { padding: 3rem 2.5rem; }
  .blog-post-org h3 { font-size: 2.3rem; }

  .testimonials-container .testimonial p { font-size: 2.6rem; }
  .faq-container { padding: 4rem 0 3rem 0; }
  .faqs-area { padding-top: 0; }
  .faq-container .faq a { padding: 2rem 4rem 2rem 2rem; font-size: 17px; }





  .footer-left-widget input#Email { width: 100% !important; height: 55px; }
  .footer-left-widget .mktoForm .mktoFieldWrap, .footer-left-widget .mktoForm .mktoFormCol { float: none; }

}



/*-------------------------------------------------
>> Extra responsive queries for pixel perfection
-------------------------------------------------*/
@media only screen and (min-width: 2560px) { .banner-animation { display: none; } }

@media only screen and (min-width: 1920px) { .popup-search .close { left: calc(50% + 850px); right: auto; } }

/*------------------------------------------------------------------
> Import Fonts
------------------------------------------------------------------*/
@font-face { font-family: "Roboto"; font-style: normal; font-weight: 700; src: url("../Fonts/Roboto-Bold.woff2") format("woff2"), url("../Fonts/Roboto-Bold.woff") format("woff"); }

@font-face { font-family: "Roboto"; font-style: normal; font-weight: 500; src: url("../Fonts/Roboto-Medium.woff2") format("woff2"), url("../Fonts/Roboto-Medium.woff") format("woff"); }

@font-face { font-family: "Roboto"; font-style: normal; font-weight: 400; src: url("../Fonts/Roboto-Regular.woff2") format("woff2"), url("../Fonts/Roboto-Regular.woff") format("woff"); }

@font-face { font-family: "Roboto"; font-style: normal; font-weight: 300; src: url("../Fonts/Roboto-Light.woff2") format("woff2"), url("../Fonts/Roboto-Light.woff") format("woff"); }
