body 
h1 
p
{
	color: #fff;
    font-family:Lato,Helvetica,Arial,sans-serif;
    height: 100%;
}


nav
nav.title-bar
nav.tab-bar
div.title-bar-layout
a.skip-to-content
a.fluid-skip
a.showOnFocus
div.middle
div.title-bar-section
div.outer-row
{
	display:none;
}

div
{
	
}

div.main-section
{

}
