/*<meta />*/

@import url('prism.css');

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/*CSS Color Variables*/

:root
{
	--datical-blue: #416692;
	--datical-black: #212121;
	--datical-orange: #ed8807;
	--datical-ltblue: #2D8DCC;
}

/*==Topic General Styles==*/

body
{
	color: var(--datical-black);
	font-family: Roboto, Helvetica, Arial, sans-serif;
	line-height: 1.7em;
	margin: 0px;
	max-height: 100%;
}

h1
{
	font-size: 2em;
	font-weight: normal;
	margin-bottom: 8px;
	padding-bottom: 10px;
	line-height: 1em;
	color: var(--datical-blue);
}

h2
{
	font-weight: normal;
	margin-bottom: 4px;
	margin-top: 20px;
	color: var(--datical-blue);
	font-size: 1.4em;
}

h3
{
	font-size: 1.1em;
	font-weight: normal;
	margin-bottom: 4px;
	margin-top: 16px;
	color: var(--datical-blue);
	text-decoration: underline;
}

h4
{
	color: var(--datical-blue);
}

li
{
	margin-bottom: 6px;
	margin-top: 6px;
}

p
{
	margin-bottom: 8px;
	margin-top: 8px;
}

/* ===Styled Boxes for Notes, Warnings, Examples, and Tips=== */

p.note
{
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #f0f7fb;
	background-image: url('../../../../../Z_Resources/Images/Assets/Icons/MainIcons/Pencil-48.png');
	background-position: 9px 0px;
	background-repeat: no-repeat;
	border: solid 1px #3498db;
	border-radius: 5px;
	line-height: 18px;
	mc-auto-number-format: '{b}Note: {/b}';
	overflow: hidden;
	padding: 15px 60px;
}

p.warning
{
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #f9e7e5;
	background-image: url('../../../../../Z_Resources/Images/Assets/Icons/MainIcons/Warning-48.png');
	background-position: 9px 0px;
	background-repeat: no-repeat;
	border: solid 1px #c0392b;
	border-radius: 5px;
	line-height: 18px;
	mc-auto-number-format: '{b}Warning: {/b}';
	overflow: hidden;
	padding: 15px 60px;
}

p.example
{
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #e7f6f0;
	background-image: url('../../../../../Z_Resources/Images/Assets/Icons/MainIcons/Check-48.png');
	background-position: 9px 0px;
	background-repeat: no-repeat;
	border: solid 1px #27ae60;
	border-radius: 5px;
	line-height: 18px;
	mc-auto-number-format: '{b}Example: {/b}';
	overflow: hidden;
	padding: 15px 60px;
}

p.tip
{
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #fffbea;
	background-image: url('../../../../../Z_Resources/Images/Assets/Icons/MainIcons/Bulb-48.png');
	background-position: 9px 0px;
	background-repeat: no-repeat;
	border: solid 1px #f1c40f;
	border-radius: 5px;
	line-height: 18px;
	mc-auto-number-format: '{b}Tip: {/b}';
	overflow: hidden;
	padding: 15px 60px;
}

img	/*Setting max-width: 100%; property makes images always fit the width of the container*/
{
	max-width: 75%;
}

.img-zoom-container
{
	transition: transform .2s;
	/* Animation */
}

.img-zoom-container:active
{
	transform: scale(1.5);
	/* (150% zoom) */
}

img.thumbnail
{
	mc-thumbnail: popup;
}

.center
{
	position: relative;
	margin-right: auto;
	margin-left: auto;
	float: none !important;
	text-align: center;
}

a
{
	text-decoration: none;
}

/*== Liquibase Button styles ==*/
/*== MadCap proxy assigned styles ==*/

MadCap|breadcrumbsProxy
{
	border-bottom: none;
	font-size: .7em;
	font-style: italic;
	mc-breadcrumbs-prefix: 'You are here: ';
}

a.MCBreadcrumbsLink
{
	font-styleyes: italic;
	text-decoration: underline;
}

a.MCBreadcrumbsLink:visited
{
	color: #000000;
}

a.MCBreadcrumbsLink:hover
{
	color: var(--datical-ltblue);
}

MadCap|xref
{
	color: var(--datical-orange);
	font-weight: bold;
	mc-format: '{para}';
	text-decoration: underline;
}

MadCap|xref:hover
{
	color: var(--datical-ltblue);
}

MadCap|dropDown
{
	mc-closed-image: url('../../../../../Z_Resources/Images/Assets/Icons/Arrows/arrow-right-gray.png');
	mc-open-image: url('../../../../../Z_Resources/Images/Assets/Icons/Arrows/arrow-down-gray.png');
}

MadCap|dropDownHotspot
{
	color: var(--datical-orange);
	font-weight: bold;
}

/*== Master page assigned styles ==*/

div.content-container	/*Wraps the content on the masterpage and provides the white background behind topics.*/
{
	margin-left: auto;
	margin-right: auto;
	margin-top: 0%;
}

div.topic-layout	/*This layout was created using the Responsive Layout Editor in MadCap Flare. Home Ribbon > Styles Section > Responsive Layout*/
{
	mc-grid-row: true;
	margin: 0 auto;
	background-color: #FFF;
	min-height: 850px;
	overflow: hidden;
}

div.topic-layout::before
{
	content: ' ';
	display: table;
}

div.topic-layout::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.topic-layout > div
{
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 100%;
}

div.topic-layout > div:nth-child(1)	/*Left pane container*/
{
	margin-left: 0%;
	Background-color: var(--datical-blue);
	width: 26%;
	background-position: center;
	background-repeat: no-repeat;
	float: left;
	position: absolute;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

div.topic-layout > div:nth-child(2)	/*Right pane container*/
{
	overflow: hidden;
	width: 74%;
	margin-top: 2em;
	float: right;
}

/*== left pane styles ==*/

div.heading-master	/*wraps the heading on the left pane*/
{
	margin-left: auto;
	margin-right: auto;
	padding-left: 15%;
	padding-right: 15%;
	margin-top: 15%;
}

h1.heading-master
{
	color: #ffffff;
	font-family: Roboto, Arial, Avenir, Myriad;
	font-size: 3.750em;
	text-align: center;
	mc-heading-level: 0;
}

div.logo-menu	/*This is a custom responsive layout row style (div class).*/
{
	mc-grid-row: true;
	margin-right: auto;
	margin-left: 1em;
}

div.logo-menu::before
{
	content: ' ';
	display: table;
}

div.logo-menu::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.logo-menu > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 2%;
}

div.search-menu
{
	margin-top: 60px;
}

div.side-content	/*container for Menu proxy on the left pane*/
{
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
	width: 33.33%;
}

/*==Home Tiles section==*/

h1.hometopic	/*headings on the home topic*/
{
	text-align: center;
	color: var(--datical-blue);
	font-size: 2em;
}

div.home-tiles-container
{
	padding-top: 60px;
	padding-bottom: 60px;
}

div.home-tiles	/*This is a custom responsive layout row style (div class) in your stylesheet. To provide your own description for this style: (1) Open the stylesheet; (2) Find and select the div class with this name; and (3) In the Comment field, replace this text with your own. For more information on adding comments to styles, see the online Help.*/
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1%;
	margin-bottom: 1%;
}

div.home-tiles::before
{
	content: ' ';
	display: table;
}

div.home-tiles::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.home-tiles > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 5px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 11.5px;
	padding-right: 11.5px;
	overflow: hidden;
}

div.home-tiles > div:hover
{
	transform: scale(1.1);
}

div.home-tiles > div:nth-child(1)
{
	width: 25%;
	margin-left: 0%;
}

div.home-tiles > div:nth-child(2)
{
	width: 25%;
	margin-left: 0%;
}

div.home-tiles > div:nth-child(3)
{
	width: 25%;
	margin-left: 0%;
}

div.home-tiles > div:nth-child(4)
{
	width: 25%;
	margin-left: 0%;
}

/*=Elements for text contained within each home-tile=*/

p.tile-title
{
	text-align: center;
	color: #000000;
	font-size: 1.3em;
}

div.home-tiles a	/*Complex Selector: Links within the home tiles will have the following properties*/
{
	text-decoration: none;
	color: #000000;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

div.home-tiles a:hover	/*Complex Selector: When hovering over links within the home tiles the following properties will apply.*/
{
	color: #00DDC3;
	text-decoration: underline;
}

/*==Centered Homepage tiles section==*/

div.info-container
{
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	border-top: solid 1px #d3d3d3;
	padding-top: 10px;
}

div.info-section
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

div.info-section::before
{
	content: ' ';
	display: table;
}

div.info-section::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.info-section > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

div.info-section > div:nth-child(1)
{
	width: 50%;
}

div.info-section > div:nth-child(2)
{
	width: 45%;
}

div.centered-tiles	/*This is a custom responsive layout row style (div class) in your stylesheet. To provide your own description for this style: (1) Open the stylesheet; (2) Find and select the div class with this name; and (3) In the Comment field, replace this text with your own. For more information on adding comments to styles, see the online Help.*/
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
}

div.centered-tiles::before
{
	content: ' ';
	display: table;
}

div.centered-tiles::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.centered-tiles > div:hover
{
	transform: scale(1.1);
}

div.centered-tiles > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 5px;
	padding-right: 5px;
}

div.centered-tiles > div:nth-child(1)
{
	width: 35%;
	margin-left: 15%;
}

div.centered-tiles > div:nth-child(2)
{
	width: 35%;
	margin-left: 0;
}

div.centered-tiles > div:nth-child(3)
{
	width: 33.333%;
	margin-left: 0%;
}

div.centered-tiles *	/*Text-align center set to all elements within div.video-tiles*/
{
	text-align: center;
}

/*== other topic assigned styles ==*/

div.body-layout	/*This layout was created using the Responsive Layout Editor in MadCap Flare. Go to: Home Ribbon > Styles Section > Responsive Layout*/
{
	background-color: #FFF;
	padding: 0 25px;
/*	max-width: 80%;*/
	margin-left: 1em;
}

div.body-layout::before
{
	content: ' ';
	display: table;
}

div.body-layout::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.body-layout > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

div.body-layout > div:nth-child(1)
{
	width: 78%;
	margin-left: 1%;
	min-height: 95vh;
	border-right: solid 1px #d3d3d3;
	padding-right: 20px;
}

div.body-layout > div:nth-child(2)	/*Menu Proxy container*/
{
	width: 18%;
	margin-left: 2%;
	padding: 20px 10px;
}

/*==New Home Page==*/

body.home-bg
{
	 background: linear-gradient(to bottom left, #29cdff, #001380, #2c1e4f);
}

table.button-table
{
	border-collapse: separate;
	border-spacing: 3px 3px;
	border: none;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}

td.oss
{
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-left-style: none;
	border-left-width: 1px;
	border-left-color: #29cdff;
	border-right-style: none;
	border-right-width: 1px;
	border-right-color: #29cdff;
	border-top-style: none;
	border-top-width: 1px;
	border-top-color: #29cdff;
	border-bottom-style: none;
	border-bottom-width: 1px;
	border-bottom-color: #29cdff;
	background-color: #29cdff;
	padding: 10px;
}

td.pro
{
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-left-style: none;
	border-left-width: 1px;
	border-left-color: #2692ff;
	border-right-style: none;
	border-right-width: 1px;
	border-right-color: #2692ff;
	border-top-style: none;
	border-top-width: 1px;
	border-top-color: #2692ff;
	border-bottom-style: none;
	border-bottom-width: 1px;
	border-bottom-color: #2692ff;
	background-color: #2692ff;
	padding: 10px;
}

td.enterprise
{
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-left-style: none;
	border-left-width: 1px;
	border-left-color: #62e398;
	border-right-style: none;
	border-right-width: 1px;
	border-right-color: #62e398;
	border-top-style: none;
	border-top-width: 1px;
	border-top-color: #62e398;
	border-bottom-style: none;
	border-bottom-width: 1px;
	border-bottom-color: #62e398;
	background-color: #62e398;
	padding: 10px;
}

a.btn {
    border-radius: 16px 2px;
    border-width: 0;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    min-width: 172px;
    height: 54px;
    padding: 12px;
    text-decoration: none;
}

a.btn-light {
    background-color: #00B6FF;
	border-radius: 16px 2px;
    border-width: 0;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    min-width: 172px;
    height: 54px;
    padding: 12px;
    text-decoration: none;
}

a.btn-blue {
    background-color: #003BF0;
	border-radius: 16px 2px;
    border-width: 0;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    min-width: 172px;
    height: 54px;
    padding: 12px;
    text-decoration: none;
}

a.btn-yellow {
    background-color: #FEBC0C;
	border-radius: 16px 2px;
    border-width: 0;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    min-width: 172px;
    height: 54px;
    padding: 12px;
    text-decoration: none;
}

a.btn-green {
    background-color: #00B3A6;
	border-radius: 16px 2px;
    border-width: 0;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    min-width: 172px;
    height: 54px;
    padding: 12px;
    text-decoration: none;
}

div.buttons-wrap {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 65px 0 80px;
    max-width: 800px;
    margin: auto;
    gap: 24px;
}

.text-center {
    text-align: center;
}

/*==Home Page Footer==*/

div.footer
{
	background-color: var(--datical-black);
	padding-top: 20px;
	border-top: 1px solid #b3b3b3;
	margin-top: 9em;
}

div.footer a	/*Complex Selector: Any anchor (links) tags that are within div.footer will have the following properties */
{
	text-decoration: none;
	color: #DADADA;
}

div.footer p	/*Complex Selector: Any <p> that is contained within div.footer will have the following properties*/
{
	color: #fff;
	font-size: 0.8em;
}

div.home-master-page-footer	/*This layout was created using the Responsive Layout Editor in MadCap Flare. Go to: Home Ribbon > Styles Section > Responsive Layout*/
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
}

div.home-master-page-footer::before
{
	content: ' ';
	display: table;
}

div.home-master-page-footer::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.home-master-page-footer > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

div.home-master-page-footer > div:nth-child(1)
{
	width: 33.333%;
	margin-left: 0%;
}

div.home-master-page-footer > div:nth-child(2)
{
	width: 33.333%;
	margin-left: 0%;
}

div.home-master-page-footer > div:nth-child(3)
{
	width: 33.333%;
	margin-left: 0%;
}

/*===========================================================================================================================================================
Styles after this point are styles that are for specific mediums. If any additional styles are added to this template they will be listed after mediums.
[@media tablet] declares styles that will apply when the screen is in tablet view
[@media mobile] declares styles that will apply when the screen is in mobile view
===========================================================================================================================================================*/

@media tablet
{
	.main-section > .outer-row	/* Removes the padding around the topic container in tablet */
	{
		padding: 0;
	}

	div.topic-layout
	{
		max-width: 100%;
		min-height: 100vh;
		/*overrides the min-height set in the default medium*/
	}

	div.heading-master
	{
		margin-top: 0;
		padding-left: 0;
		padding-right: 0;
	}

	h1.heading-master
	{
		margin-top: 0;
		padding-top: 5px;
		font-size: 4em;
	}

	div.logo-menu
	{
		display: none;
	}

	div.topic-layout > div:nth-child(1)
	{
		width: 100%;
		min-height: 160px;
		float: none;
		position: relative;
	}

	div.topic-layout > div:nth-child(2)
	{
		width: 100%;
		float: none;
		margin-top: 1em;
	}

	div.body-layout
	{
		max-width: 100%;
	}

	div.search-menu
	{
		margin-top: 0;
	}

	div.video-tiles > div:nth-child(1)
	{
		width: 50%;
		margin-left: 0%;
	}

	div.video-tiles > div:nth-child(2)
	{
		width: 50%;
		margin-left: 0%;
	}
}

@media mobile
{
	.main-section > .outer-row	/* Removes the padding around the topic container in mobile */
	{
		padding: 0;
	}

	h1.heading-master
	{
		font-size: 3.5em;
	}

	div.topic-layout > div:nth-child(1)
	{
		min-height: 200px;
		padding-left: 5%;
		padding-right: 5%;
	}

	div.body-layout
	{
		max-width: 100%;
	}

	div.body-layout > div:nth-child(1)
	{
		width: 100%;
		margin-left: 0%;
		min-height: 95vh;
		border: 0;
		padding: 0;
	}

	div.body-layout > div:nth-child(2)
	{
		display: none;
	}

	div.home-tiles > div:nth-child(1)
	{
		width: 50%;
		margin-left: 0%;
	}

	div.home-tiles > div:nth-child(2)
	{
		width: 50%;
		margin-left: 0%;
	}

	div.home-tiles > div:nth-child(3)
	{
		width: 50%;
		margin-left: 0%;
	}

	div.home-tiles > div:nth-child(4)
	{
		width: 50%;
		margin-left: 0%;
	}

	div.video-tiles > div:nth-child(1)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.video-tiles > div:nth-child(2)
	{
		width: 100%;
		margin-left: 0%;
	}
}