/*<meta />*/

@import url('prism.css');

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/*CSS Color Variables*/

:root
{
	--lbBlue: #2962FF;
	--lbLtBlue: #BBDEFB;
	--lbDarkBlue: #283593;
	--lbRed: #FF1744;
	--lbBlack: #0E0033;
	--lbDarkGray: #404059;
	--lBLightGray: #C4C4CC;
	--white: #ffffff;
}

body
{
	color: var(--lbBlack);
	font-family: Arial, Avenir, Myriad;
}

/* Content */

img
{
	border: none;
	max-width: 100%;
	/* usability/portability */
	/*display: block;*/
	/* block elements/centering - june 2023 breaks dropdowns, use a custom class */
	margin-left: auto;
	margin-right: auto;
}

img.ver_icon_size
{
	border: none;
	padding-bottom: -0.5em;
	height: 18px;
	/*float: right;*/
	/*width: 50px;*/
	vertical-align: middle;
}

p
{
	font-size: 12.0pt;
	margin-top: 20px;
	margin-bottom: 20px;
	line-height: 20pt;
	letter-spacing: 0.25;
}

p.table-text
{
	font-size: 12pt;
}

/* Stylized Boxes*/

p.note
{
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	background-color: #f0f7fb;
	background-image: url(../Images/icons/Pencil-48.png);
	background-position: 9px 0px;
	background-repeat: no-repeat;
	border: solid 1px #3498db;
	border-radius: 6px;
	line-height: 18px;
	mc-auto-number-format: '{b}Note: {/b}';
	overflow: hidden;
	padding: 15px 60px;
}

p.warning
{
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	background-color: #f9e7e5;
	background-image: url(../Images/icons/Warning-48.png);
	background-position: 9px 0px;
	background-repeat: no-repeat;
	border: solid 1px #c0392b;
	border-radius: 6px;
	line-height: 18px;
	mc-auto-number-format: '{b}Warning: {/b}';
	overflow: hidden;
	padding: 15px 60px;
}

p.example
{
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	background-color: #e7f6f0;
	background-image: url(../Images/icons/Check-48.png);
	background-position: 9px 0px;
	background-repeat: no-repeat;
	border: solid 1px #27ae60;
	border-radius: 6px;
	line-height: 18px;
	mc-auto-number-format: '{b}Example: {/b}';
	overflow: hidden;
	padding: 15px 60px;
}

p.tip
{
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	background-color: #fffbea;
	background-image: url('../Images/icons/Bulb-48.png');
	background-position: 9px 0px;
	background-repeat: no-repeat;
	border: solid 1px #f1c40f;
	border-radius: 6px;
	line-height: 18px;
	mc-auto-number-format: '{b}Tip: {/b}';
	overflow: hidden;
	padding: 15px 60px;
}

/* STYLES FOR THE TABBED Boxes */

.tab
{
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */

.tab button
{
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
}

/* Change background color of buttons on hover */

.tab button:hover
{
	background-color: #ddd;
}

/* Create an active/current tablink class */

.tab button.active
{
	background-color: #ccc;
}

/* Style the tab content */

.tabcontent
{
	display: none;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-top: none;
}

/* FADE IN FOR TABS */

.tabcontent
{
	animation: fadeEffect 1s;
	/* Fading effect takes 1 second */
}

/* Go from zero to full opacity */

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
} 

/* Generic classes */

.center
{
	position: relative;
	margin-right: auto;
	margin-left: auto;
	float: none !important;
	text-align: center;
}

/* Headings */

h1
{
	font-weight: bold;
	font-size: 24.0pt;
	margin-top: 0;
	color: var(--lbDarkBlue);
}

h2
{
	font-weight: bold;
	font-size: 18.0pt;
	color: var(--lbBlue);
}

h3
{
	font-weight: bold;
	font-size: 14.0pt;
	color: var(--lbDarkBlue);
}

h4
{
	font-weight: bold;
	font-size: 12.0pt;
}

h5
{
	font-weight: bold;
	font-size: 10.0pt;
}

h6
{
	font-weight: bold;
	font-size: 8.0pt;
}

/* Taylor CSS Fix for Code Block Boxes */

pre[class*="language-"]
{
	position: unset;
}

/* Home page topic */

.nav-search	/*Does not display search in Top Navigation for desktop*/
{
	display: none;
}

div.accent
{
	background-color: var(--white);
}

div.home-layout
{
	padding: 1% 20%;
}

div.home-section
{
	padding: 5%;
	border-bottom: solid 1px var(--lBLightGray);
}

div.home-section:last-of-type
{
	border-bottom: none;
}

div.home-tiles	/*This is a custom responsive layout row style (div class) in your stylesheet. To provide your own description for this style: (1) Open the stylesheet; (2) Find and select the div class with this name; and (3) In the Comment field, replace this text with your own. For more information on adding comments to styles, see the online Help.*/
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
}

div.home-tiles::before
{
	content: ' ';
	display: table;
}

div.home-tiles::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.home-tiles > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

div.home-tiles > div:nth-child(1)
{
	width: 33.33333%;
	margin-left: 0%;
}

div.home-tiles > div:nth-child(2)
{
	width: 33.33333%;
	margin-left: 0%;
}

div.home-tiles > div:nth-child(3)
{
	width: 33.33333%;
	margin-left: 0%;
}

div.quick-links	/*This is a custom responsive layout row style (div class) in your stylesheet. To provide your own description for this style: (1) Open the stylesheet; (2) Find and select the div class with this name; and (3) In the Comment field, replace this text with your own. For more information on adding comments to styles, see the online Help.*/
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
}

div.quick-links::before
{
	content: ' ';
	display: table;
}

div.quick-links::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.quick-links > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

div.quick-links > div:nth-child(1)
{
	width: 16.66666%;
	margin-left: 2%;
}

div.quick-links > div:nth-child(2)
{
	width: 16.66666%;
	margin-left: 3%;
}

div.quick-links > div:nth-child(3)
{
	width: 16.66666%;
	margin-left: 3%;
}

div.quick-links > div:nth-child(4)
{
	width: 16.66666%;
	margin-left: 3%;
}

div.quick-links > div:nth-child(5)
{
	width: 16.66666%;
	margin-left: 3%;
}

div.quick-links *	/*Text-align center set to all elements within div.quick-links*/
{
	text-align: center;
}

div.topic-hero
{
	padding: 8% 0;
	background-image: url('../Images/Option1-a.jpg');
	background-size: cover;
	background-attachment: scroll;
}

div.topic-hero h1
{
	color: var(--white);
	font-size: 48pt;
	text-align: center;
}

html.home-topic	/*Used on Home.htm topic for styles set only on the home topic*/
{
	
}

html.home-topic .main-section > .outer-row	/*Overrides padding set in the skin*/
{
	max-width: 100%;
	padding: 0;
}

img.home-tile
{
	max-width: 50%;
}

/* Links */

a,
a:link,
MadCap|xref
{
	text-decoration: underline;
	color: var(--lbBlue);
}

a:visited
{
	color: var(--lbDarkBlue);
}

a.home-tiles
{
	color: var(--lbDarkBlue);
	font-size: 13pt;
	font-weight: bold;
	text-decoration: none;
}

MadCap|dropDown
{
	border-bottom: 1px solid var(--lBLightGray);
	mc-image-position: left;
	mc-image-spacing: 10px;
	mc-open-image: url('../Images/Icons/Minus.png');
	mc-closed-image: url('../Images/Icons/Plus.png');
	padding: 10px 0;
}

MadCap|dropDownBody
{
	padding: 10px 30px 0;
}

MadCap|dropDownHotspot
{
	cursor: hand;
	text-decoration: none;
	color: var(--lbDarkBlue);
	font-size: 20pt;
	font-weight: bold;
	border-bottom: none;
}

/* Prevent tables within dropdown tabs from overflowing horizontally (June 2023)*/

.MCDropDown_Open .MCDropDown_Body
{
	overflow: visible;
}

MadCap|expandingBody
{
	color: var(--lbDarkBlue);
	font-style: italic;
}

MadCap|expandingHead
{
	font-style: italic;
	font-weight: normal;
	cursor: hand;
	text-decoration: none;
	color: var(--lbBlue);
}

MadCap|xref
{
	mc-format: '{para}';
	text-decoration: underline;
	color: var(--lbBlue);
}

/* Lists */

ol,
ul
{
	letter-spacing: .25;
	line-height: 20pt;
	padding-left: 30px;
}

/*Tables*/

table
{
	border: solid 1px #d3d3d3;
	border-collapse: collapse;
	border-radius: 5px;
	margin: 1px auto 0 auto;
	padding: 1px;
}

th,
td
{
	vertical-align: middle;
}

th
{
	border: solid 1px #d3d3d3;
	text-align: center;
	height: 56px;
	font-weight: 700;
	padding: 0 16px 0 16px;
}

td
{
	border: solid 1px #d3d3d3;
	text-align: left;
	height: 32px;
	padding: 5px;
	margin: 1px;
}

/* Master pages */
/*Home-Page Master Page */

div.home-footer
{
	padding: 2% 5%;
	background-color: #1c1f24;
}

div.topic-layout
{
	padding-top: 4%;
}

MadCap|breadcrumbsProxy
{
	border-bottom-width: 0;
	color: var(--lbDarkBlue);
}

p.footer
{
	margin-top: 5px;
	margin-bottom: 5px;
	line-height: 13pt;
	color: var(--white);
}

p.footer-sub
{
	color: var(--white);
	font-size: 14pt;
	margin-top: 14px;
}

/*Other-Topics Master Page */

div.side-content	/*Used on OtherTopics.flmsp for the search-bar and menu*/
{
	width: 300px;
	float: right;
	margin-left: 15px;
	margin-bottom: 15px;
}

div.home-footer-other
{
	padding: 2% 5%;
	background-color: var(--white);
}

p.footer-other
{
	margin-top: 5px;
	margin-bottom: 5px;
	line-height: 13pt;
	color: var(--lbBlack);
}

p.footer-other-sub
{
	color: var(--lbBlack);
	font-size: 14pt;
	margin-top: 14px;
}

pre
{
	white-space: pre-wrap;
}

MadCap|expanding
{
	
}

@media tablet
{
	/* Home page topic */

	.nav-search
	{
		display: block;
		/* Displays search in Top Navigation for tablet & mobile*/
	}

	div.side-content	/*Removes search-bar and menu set in topic in tablet*/
	{
		display: none;
	}

	html.home-topic .nav-search	/*Will not display search in Top Navigation on home page*/
	{
		display: none;
	}

	html.home-topic .body-container
	{
		margin-left: 0;
	}

	div.quick-links > div:nth-child(1)
	{
		width: 24%;
		margin-left: 0%;
	}

	div.quick-links > div:nth-child(2)
	{
		width: 24%;
		margin-left: 14%;
	}

	div.quick-links > div:nth-child(3)
	{
		width: 24%;
		margin-left: 14%;
	}

	div.quick-links > div:nth-child(4)
	{
		width: 24%;
		margin-left: 19%;
	}

	div.quick-links > div:nth-child(5)
	{
		width: 24%;
		margin-left: 14%;
	}

	div.home-tiles > div:nth-child(1)
	{
		width: 33.33333%;
		margin-left: 0%;
	}

	div.home-tiles > div:nth-child(2)
	{
		width: 33.33333%;
		margin-left: 0%;
	}

	div.home-tiles > div:nth-child(3)
	{
		width: 33.33333%;
		margin-left: 0%;
	}
}

@media mobile
{
	/* Home page topic */

	div.home-layout
	{
		padding: 2% 5%;
	}

	div.home-section
	{
		padding: 10% 0;
	}

	img.home-tile
	{
		max-width: 25%;
	}

	div.home-tiles > div:nth-child(1)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.home-tiles > div:nth-child(2)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.home-tiles > div:nth-child(3)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.quick-links > div:nth-child(1)
	{
		width: 49%;
		margin-left: 0;
	}

	div.quick-links > div:nth-child(2)
	{
		width: 49%;
		margin-left: 2%;
	}

	div.quick-links > div:nth-child(3)
	{
		width: 49%;
		margin-left: 0;
	}

	div.quick-links > div:nth-child(4)
	{
		width: 49%;
		margin-left: 2%;
	}

	div.quick-links > div:nth-child(5)
	{
		width: 49%;
		margin-left: 25.5%;
	}

	div.topic-hero
	{
		padding: 15% 0;
	}

	div.topic-hero h1
	{
		font-size: 36pt;
	}
}

@media print
{
	/* Links */

	MadCap|xref
	{
		font-weight: normal;
		mc-format: '{quote}{para}{quote} {pageref}';
		text-decoration: none;
	}
}

MadCap|variable.General\00002EEmpire
{
	
}

img.thumbnail
{
	mc-thumbnail: hover;
}

MadCap|variable.parameters-global-command\00002Evalue-type
{
	
}

/* PD-3496: Hacky fix for Google search */

td.gsc-input,
td.gsc-input table td
{
	border: none;
	padding: 0;
}

div.gsc-input-box table.gsc-input,
table.gsc-input td
{
	line-height: 0;
	margin: 0 auto 0 auto;
	border: none;
	padding: 0 0 0 0;
}

/* PD-3526: Kevin CSS to fix padding when using the new sideNav */

div.main-section div.body-container
{
	padding: 0 0 0 0;
}

div.main-section div.height-container-sidenav
{
	padding-bottom: 0;
}

div.breadcrumbs
{
	padding-left: 1em;
	padding-top: 1em;
}

div.side-content
{
	padding-top: 1em;
	padding-right: 1em;
}

div.liquibase-docs-body
{
	padding: 0 4em 0 2em;
	display: inline-block;
}

/* PD-3526: Stop code blocks from overflowing the page */

code
{
	max-width: 60vw;
}

/* PD-3767: Sidenav whitespace */

ul.sidenav li a
{
	line-height: 1.1em;
}

ul.sidenav ul > li > a
{
	padding-top: 0.6em;
	padding-bottom: 0.6em;
}

/* START ACCESSIBLE TABS STYLES
    docs: https://a11y.nicolas-hoffmann.net/tabs
    code: https://github.com/nico3333fr/jquery-accessible-tabs-aria
	jira: https://datical.atlassian.net/browse/PD-3903
*/

  /* START ACCESSIBLE TABS: REQUIRED CSS FOR FEATURES */

  /* Initially hides all of the tab panel content */ 
  .js-tabcontent[aria-hidden=true] { display: none; }

  /* CSS that hides the HX tags in the tabbed content
    -- important since we don't specify HX tags and the javascript will create the headers on each tab panel
  */
  .invisible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

    /* CSS that styles the disabled tabs so they are greyed out and cannot be clicked */
  [aria-disabled="true"], [aria-disabled="true"]:hover {
    background-color: #ddd;
    color: #666;
    pointer-events: none;
    /* for old IEs */
    cursor: not-allowed;
  }
  /* END ACCESSIBLE TABS: REQUIRED CSS FOR FEATURES */


  /* START ACCESSIBLE TABS: CORE CSS */
  /* Styles for tab tops */
  .js-tabs ul.js-tablist,
  [role="tablist"].js-tablist {
  	padding: 0px;
    margin: 16px 0 0 0;
  	list-style: none;
  	position: relative;
  	z-index: 0;
  	line-height: 8pt;
  }

  /* , */
  .js-tabs ul.js-tablist::after,
  [role="tablist"].js-tablist::after {
  	position: absolute;
  	content: "";
  	width: 100%;
  	bottom: 0;
  	left: 0;
  	border-bottom: 1px solid #ddd;
  	z-index: 0;
  }
  
  .js-tabs ul.js-tablist li,
  [role="tablist"] .js-tablist__item {
    overflow: hidden;
    background-color: #f1f1f1;

    padding: 15px 0 15px 0;
  	color: #333;
  	display: inline-block;
  	cursor: pointer;
  	position: relative;
  	z-index: 0;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-radius: 12px 12px 0px 0px;
  }

  /* Hides the border under the active tab */
  .js-tabs ul.js-tablist li.current,
  [role="tablist"] .js-tablist__item.current {
  	color: #d9232e;
    background: #fff;
    border-bottom: 1px solid #fff;
    margin-bottom: -1px;
  	z-index: 1;
  }
  
  .js-tabs ul.js-tablist li a,
  [role="tablist"] .js-tablist__link {
  	position: relative;
    padding: 20px;
  }

  .js-tabs ul.js-tablist li a:focus,
  .js-tabs ul.js-tablist li a:active,
  .js-tabs ul.js-tablist li a[aria-selected="true"],
  [role="tablist"] .js-tablist__link:focus,
  [role="tablist"] .js-tablist__link:active,
  [role="tablist"] .js-tablist__link[aria-selected="true"] {
  }

  .js-tabs ul.js-tablist li a:hover,
  [role="tablist"] .js-tablist__link:hover {
  	background: #c2c2c2;
  	color: #000;
  	cursor: pointer;
  	z-index: 1;
  }
  
  .js-tabs ul.js-tablist li a:focus,
  [role="tablist"] .js-tablist__link:focus {
    outline: 1px dotted;
  }

  /* Styles for tab panel */
  .js-tabs .js-tabcontent,
  [role="tabpanel"].js-tabcontent {
  	position: relative;
  	border-top: 1px solid #fff;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    padding: 1em;
  	z-index: 2;
    /* border-bottom-left-radius: 1em; */
    /* border-bottom-right-radius: 1em; */
  }
  /* END ACCESSIBLE TABS: CORE CSS */


/* END ACCESSIBLE TABS STYLES */

/* PD-4176: styling for table replacement */
.product {
  overflow: auto;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

.product-image,
.product-image-homepage {
  float: left;
  height: auto;
  margin-right: 20px;
}

.product-image {
  width: 100px; /* Adjust as needed */
}

.product-info {
  overflow: hidden; /* Ensures the content respects the image's float */
}

.product-title, .product-description, .product-price {
  margin: 5px 0;
}

/* PD-4062: new homepage layout */
.multi-column-container {
  width: 100%;
}

.column {
  width: 50%;
  padding: 20px;
  float: left; /* Floats the columns to the left */
}

.left {
  background-color: #f9f9f9;
}

.right {
  background-color: #e8e8e8;
}

.clearfix {
  clear: both; /* Clears the floating effect */
}

.product-image-homepage {
  width: 50px; /* Adjust as needed */
}