/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: TableStyles;
	border-collapse: separate;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #dcdcdc;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #dcdcdc;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #dcdcdc;
	max-id: 4;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	margin-left: 1px;
	margin-right: 1px;
	margin-top: 1px;
	margin-bottom: 1px;
	cell-padding-left: 1px;
	cell-padding-right: 1px;
	cell-padding-top: 1px;
	cell-padding-bottom: 1px;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #d3d3d3;
	name: Column1;
	id: 0;
	size: 1px;
	text-align: center;
	vertical-align: top;
	cell-padding-left: 16px;
	cell-padding-right: 16px;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #d3d3d3;
	background-color: #ffffff;
	color: #000000;
	name: Header1;
	id: 3;
	vertical-align: middle;
	text-align: center;
	size: 56px;
	font-weight: 700;
	cell-padding-left: 16px;
	cell-padding-right: 16px;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #d3d3d3;
	name: Body1;
	id: 1;
	vertical-align: middle;
	text-align: justify;
	size: 52px;
	cell-padding-left: 0px;
	cell-padding-right: 0px;
	cell-padding-top: 0px;
	cell-padding-bottom: 0px;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #d3d3d3;
	name: Body2;
	id: 2;
	vertical-align: middle;
	text-align: left;
	size: 52px;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #d3d3d3;
	background-color: #ffffff;
	name: Footer1;
	id: 4;
	vertical-align: middle;
	text-align: center;
}


/* Cell Styles: */
 
.TableStyle-TableStyles
{
	border-collapse: separate;
	border-left-style: solid;
	border-left-color: #dcdcdc;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #dcdcdc;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #dcdcdc;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #dcdcdc;
	border-bottom-width: 1px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	margin-left: 1px;
	margin-right: 1px;
	margin-top: 1px;
	margin-bottom: 1px;
	border-spacing: 0px 0px;
}

.TableStyle-TableStyles-Column-Column1
{
	width: 1px;
}

.TableStyle-TableStyles-Head-Header1
{
	height: 56px;
}

.TableStyle-TableStyles-HeadI-Column1-Header1
{
	padding-top: 1px;
	padding-bottom: 1px;
	color: #000000;
	font-weight: 700;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 16px;
	padding-right: 16px;
}

.TableStyle-TableStyles-HeadI-Column1-Header1 p
{
	color: #000000;
	font-weight: 700;
}

.TableStyle-TableStyles-HeadE-Column1-Header1
{
	padding-top: 1px;
	padding-bottom: 1px;
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
	color: #000000;
	font-weight: 700;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 16px;
	padding-right: 16px;
	border-bottom-width: 1px;
	border-bottom-color: #d3d3d3;
	border-bottom-style: solid;
}

.TableStyle-TableStyles-HeadE-Column1-Header1 p
{
	color: #000000;
	font-weight: 700;
}

.TableStyle-TableStyles-HeadF-Column1-Header1
{
	padding-top: 1px;
	padding-bottom: 1px;
	color: #000000;
	font-weight: 700;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 16px;
	padding-right: 16px;
	border-bottom-width: 1px;
	border-bottom-color: #d3d3d3;
	border-bottom-style: solid;
}

.TableStyle-TableStyles-HeadF-Column1-Header1 p
{
	color: #000000;
	font-weight: 700;
}

.TableStyle-TableStyles-HeadH-Column1-Header1
{
	padding-top: 1px;
	padding-bottom: 1px;
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
	color: #000000;
	font-weight: 700;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 16px;
	padding-right: 16px;
}

.TableStyle-TableStyles-HeadH-Column1-Header1 p
{
	color: #000000;
	font-weight: 700;
}

.TableStyle-TableStyles-HeadD-Column1-Header1
{
	padding-top: 1px;
	padding-bottom: 1px;
	color: #000000;
	font-weight: 700;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 16px;
	padding-right: 16px;
	border-bottom-width: 1px;
	border-bottom-color: #d3d3d3;
	border-bottom-style: solid;
}

.TableStyle-TableStyles-HeadD-Column1-Header1 p
{
	color: #000000;
	font-weight: 700;
}

.TableStyle-TableStyles-HeadC-Column1-Header1
{
	padding-top: 1px;
	padding-bottom: 1px;
	color: #000000;
	font-weight: 700;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 16px;
	padding-right: 16px;
}

.TableStyle-TableStyles-HeadC-Column1-Header1 p
{
	color: #000000;
	font-weight: 700;
}

.TableStyle-TableStyles-HeadB-Column1-Header1
{
	padding-top: 1px;
	padding-bottom: 1px;
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
	color: #000000;
	font-weight: 700;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 16px;
	padding-right: 16px;
}

.TableStyle-TableStyles-HeadB-Column1-Header1 p
{
	color: #000000;
	font-weight: 700;
}

.TableStyle-TableStyles-HeadA-Column1-Header1
{
	padding-top: 1px;
	padding-bottom: 1px;
	color: #000000;
	font-weight: 700;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 16px;
	padding-right: 16px;
}

.TableStyle-TableStyles-HeadA-Column1-Header1 p
{
	color: #000000;
	font-weight: 700;
}

.TableStyle-TableStyles-HeadG-Column1-Header1
{
	padding-top: 1px;
	padding-bottom: 1px;
	color: #000000;
	font-weight: 700;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 16px;
	padding-right: 16px;
}

.TableStyle-TableStyles-HeadG-Column1-Header1 p
{
	color: #000000;
	font-weight: 700;
}

.TableStyle-TableStyles-Foot-Footer1
{
	
}

.TableStyle-TableStyles-FootI-Column1-Footer1
{
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 16px;
	padding-right: 16px;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
}

.TableStyle-TableStyles-FootI-Column1-Footer1 p
{
	
}

.TableStyle-TableStyles-FootE-Column1-Footer1
{
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 16px;
	padding-right: 16px;
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	border-top-width: 1px;
	border-top-color: #d3d3d3;
	border-top-style: solid;
}

.TableStyle-TableStyles-FootE-Column1-Footer1 p
{
	
}

.TableStyle-TableStyles-FootF-Column1-Footer1
{
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 16px;
	padding-right: 16px;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	border-top-width: 1px;
	border-top-color: #d3d3d3;
	border-top-style: solid;
}

.TableStyle-TableStyles-FootF-Column1-Footer1 p
{
	
}

.TableStyle-TableStyles-FootH-Column1-Footer1
{
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 16px;
	padding-right: 16px;
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
}

.TableStyle-TableStyles-FootH-Column1-Footer1 p
{
	
}

.TableStyle-TableStyles-FootD-Column1-Footer1
{
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 16px;
	padding-right: 16px;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	border-top-width: 1px;
	border-top-color: #d3d3d3;
	border-top-style: solid;
}

.TableStyle-TableStyles-FootD-Column1-Footer1 p
{
	
}

.TableStyle-TableStyles-FootC-Column1-Footer1
{
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 16px;
	padding-right: 16px;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
}

.TableStyle-TableStyles-FootC-Column1-Footer1 p
{
	
}

.TableStyle-TableStyles-FootB-Column1-Footer1
{
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 16px;
	padding-right: 16px;
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
}

.TableStyle-TableStyles-FootB-Column1-Footer1 p
{
	
}

.TableStyle-TableStyles-FootA-Column1-Footer1
{
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 16px;
	padding-right: 16px;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
}

.TableStyle-TableStyles-FootA-Column1-Footer1 p
{
	
}

.TableStyle-TableStyles-FootG-Column1-Footer1
{
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 16px;
	padding-right: 16px;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
}

.TableStyle-TableStyles-FootG-Column1-Footer1 p
{
	
}

.TableStyle-TableStyles-Body-Body1
{
	height: 52px;
}

.TableStyle-TableStyles-BodyI-Column1-Body1
{
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
	vertical-align: top;
	padding-left: 16px;
	padding-right: 16px;
}

.TableStyle-TableStyles-BodyI-Column1-Body1 p
{
	
}

.TableStyle-TableStyles-BodyE-Column1-Body1
{
	padding-top: 0px;
	padding-bottom: 0px;
	border-bottom-width: 1px;
	border-bottom-color: #d3d3d3;
	border-bottom-style: solid;
	text-align: center;
	vertical-align: top;
	padding-left: 16px;
	padding-right: 16px;
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
}

.TableStyle-TableStyles-BodyE-Column1-Body1 p
{
	
}

.TableStyle-TableStyles-BodyF-Column1-Body1
{
	padding-top: 0px;
	padding-bottom: 0px;
	border-bottom-width: 1px;
	border-bottom-color: #d3d3d3;
	border-bottom-style: solid;
	text-align: center;
	vertical-align: top;
	padding-left: 16px;
	padding-right: 16px;
}

.TableStyle-TableStyles-BodyF-Column1-Body1 p
{
	
}

.TableStyle-TableStyles-BodyH-Column1-Body1
{
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
	vertical-align: top;
	padding-left: 16px;
	padding-right: 16px;
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
}

.TableStyle-TableStyles-BodyH-Column1-Body1 p
{
	
}

.TableStyle-TableStyles-BodyD-Column1-Body1
{
	padding-top: 0px;
	padding-bottom: 0px;
	border-bottom-width: 1px;
	border-bottom-color: #d3d3d3;
	border-bottom-style: solid;
	text-align: center;
	vertical-align: top;
	padding-left: 16px;
	padding-right: 16px;
}

.TableStyle-TableStyles-BodyD-Column1-Body1 p
{
	
}

.TableStyle-TableStyles-BodyC-Column1-Body1
{
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
	vertical-align: top;
	padding-left: 16px;
	padding-right: 16px;
}

.TableStyle-TableStyles-BodyC-Column1-Body1 p
{
	
}

.TableStyle-TableStyles-BodyB-Column1-Body1
{
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
	vertical-align: top;
	padding-left: 16px;
	padding-right: 16px;
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
}

.TableStyle-TableStyles-BodyB-Column1-Body1 p
{
	
}

.TableStyle-TableStyles-BodyA-Column1-Body1
{
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
	vertical-align: top;
	padding-left: 16px;
	padding-right: 16px;
}

.TableStyle-TableStyles-BodyA-Column1-Body1 p
{
	
}

.TableStyle-TableStyles-BodyG-Column1-Body1
{
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
	vertical-align: top;
	padding-left: 16px;
	padding-right: 16px;
}

.TableStyle-TableStyles-BodyG-Column1-Body1 p
{
	
}

.TableStyle-TableStyles-Body-Body2
{
	height: 52px;
}

.TableStyle-TableStyles-BodyI-Column1-Body2
{
	padding-top: 1px;
	padding-bottom: 1px;
	text-align: center;
	vertical-align: top;
	padding-left: 16px;
	padding-right: 16px;
}

.TableStyle-TableStyles-BodyI-Column1-Body2 p
{
	
}

.TableStyle-TableStyles-BodyE-Column1-Body2
{
	padding-top: 1px;
	padding-bottom: 1px;
	border-bottom-width: 1px;
	border-bottom-color: #d3d3d3;
	border-bottom-style: solid;
	text-align: center;
	vertical-align: top;
	padding-left: 16px;
	padding-right: 16px;
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
}

.TableStyle-TableStyles-BodyE-Column1-Body2 p
{
	
}

.TableStyle-TableStyles-BodyF-Column1-Body2
{
	padding-top: 1px;
	padding-bottom: 1px;
	border-bottom-width: 1px;
	border-bottom-color: #d3d3d3;
	border-bottom-style: solid;
	text-align: center;
	vertical-align: top;
	padding-left: 16px;
	padding-right: 16px;
}

.TableStyle-TableStyles-BodyF-Column1-Body2 p
{
	
}

.TableStyle-TableStyles-BodyH-Column1-Body2
{
	padding-top: 1px;
	padding-bottom: 1px;
	text-align: center;
	vertical-align: top;
	padding-left: 16px;
	padding-right: 16px;
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
}

.TableStyle-TableStyles-BodyH-Column1-Body2 p
{
	
}

.TableStyle-TableStyles-BodyD-Column1-Body2
{
	padding-top: 1px;
	padding-bottom: 1px;
	border-bottom-width: 1px;
	border-bottom-color: #d3d3d3;
	border-bottom-style: solid;
	text-align: center;
	vertical-align: top;
	padding-left: 16px;
	padding-right: 16px;
}

.TableStyle-TableStyles-BodyD-Column1-Body2 p
{
	
}

.TableStyle-TableStyles-BodyC-Column1-Body2
{
	padding-top: 1px;
	padding-bottom: 1px;
	text-align: center;
	vertical-align: top;
	padding-left: 16px;
	padding-right: 16px;
}

.TableStyle-TableStyles-BodyC-Column1-Body2 p
{
	
}

.TableStyle-TableStyles-BodyB-Column1-Body2
{
	padding-top: 1px;
	padding-bottom: 1px;
	text-align: center;
	vertical-align: top;
	padding-left: 16px;
	padding-right: 16px;
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
}

.TableStyle-TableStyles-BodyB-Column1-Body2 p
{
	
}

.TableStyle-TableStyles-BodyA-Column1-Body2
{
	padding-top: 1px;
	padding-bottom: 1px;
	text-align: center;
	vertical-align: top;
	padding-left: 16px;
	padding-right: 16px;
}

.TableStyle-TableStyles-BodyA-Column1-Body2 p
{
	
}

.TableStyle-TableStyles-BodyG-Column1-Body2
{
	padding-top: 1px;
	padding-bottom: 1px;
	text-align: center;
	vertical-align: top;
	padding-left: 16px;
	padding-right: 16px;
}

.TableStyle-TableStyles-BodyG-Column1-Body2 p
{
	
}


