/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: TableStyles2;
	border-collapse: separate;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #dcdcdc;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #dcdcdc;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #dcdcdc;
	max-id: 4;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #d3d3d3;
	name: Column1;
	id: 0;
	size: 1px;
	text-align: center;
	vertical-align: middle;
	cell-padding-left: 16px;
	cell-padding-right: 16px;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #d3d3d3;
	background-color: #ffffff;
	color: #000000;
	name: Header1;
	id: 3;
	vertical-align: middle;
	text-align: center;
	size: 56px;
	font-weight: 700;
	cell-padding-left: 16px;
	cell-padding-right: 16px;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #d3d3d3;
	name: Body1;
	id: 1;
	vertical-align: middle;
	text-align: center;
	size: 52px;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #d3d3d3;
	name: Body2;
	id: 2;
	vertical-align: middle;
	text-align: center;
	size: 52px;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #d3d3d3;
	background-color: #ffffff;
	name: Footer1;
	id: 4;
	vertical-align: middle;
	text-align: center;
}


/* Cell Styles: */
 
.TableStyle-TableStyles2
{
	border-collapse: separate;
	border-left-style: solid;
	border-left-color: #dcdcdc;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #dcdcdc;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #dcdcdc;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #dcdcdc;
	border-bottom-width: 1px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-spacing: 0px 0px;
}

.TableStyle-TableStyles2-Column-Column1
{
	width: 1px;
}

.TableStyle-TableStyles2-Head-Header1
{
	height: 56px;
}

.TableStyle-TableStyles2-HeadI-Column1-Header1
{
	color: #000000;
	font-weight: 700;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 16px;
	padding-right: 16px;
}

.TableStyle-TableStyles2-HeadI-Column1-Header1 p
{
	color: #000000;
	font-weight: 700;
}

.TableStyle-TableStyles2-HeadE-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
	color: #000000;
	font-weight: 700;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 16px;
	padding-right: 16px;
	border-bottom-width: 1px;
	border-bottom-color: #d3d3d3;
	border-bottom-style: solid;
}

.TableStyle-TableStyles2-HeadE-Column1-Header1 p
{
	color: #000000;
	font-weight: 700;
}

.TableStyle-TableStyles2-HeadF-Column1-Header1
{
	color: #000000;
	font-weight: 700;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 16px;
	padding-right: 16px;
	border-bottom-width: 1px;
	border-bottom-color: #d3d3d3;
	border-bottom-style: solid;
}

.TableStyle-TableStyles2-HeadF-Column1-Header1 p
{
	color: #000000;
	font-weight: 700;
}

.TableStyle-TableStyles2-HeadH-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
	color: #000000;
	font-weight: 700;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 16px;
	padding-right: 16px;
}

.TableStyle-TableStyles2-HeadH-Column1-Header1 p
{
	color: #000000;
	font-weight: 700;
}

.TableStyle-TableStyles2-HeadD-Column1-Header1
{
	color: #000000;
	font-weight: 700;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 16px;
	padding-right: 16px;
	border-bottom-width: 1px;
	border-bottom-color: #d3d3d3;
	border-bottom-style: solid;
}

.TableStyle-TableStyles2-HeadD-Column1-Header1 p
{
	color: #000000;
	font-weight: 700;
}

.TableStyle-TableStyles2-HeadC-Column1-Header1
{
	color: #000000;
	font-weight: 700;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 16px;
	padding-right: 16px;
}

.TableStyle-TableStyles2-HeadC-Column1-Header1 p
{
	color: #000000;
	font-weight: 700;
}

.TableStyle-TableStyles2-HeadB-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
	color: #000000;
	font-weight: 700;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 16px;
	padding-right: 16px;
}

.TableStyle-TableStyles2-HeadB-Column1-Header1 p
{
	color: #000000;
	font-weight: 700;
}

.TableStyle-TableStyles2-HeadA-Column1-Header1
{
	color: #000000;
	font-weight: 700;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 16px;
	padding-right: 16px;
}

.TableStyle-TableStyles2-HeadA-Column1-Header1 p
{
	color: #000000;
	font-weight: 700;
}

.TableStyle-TableStyles2-HeadG-Column1-Header1
{
	color: #000000;
	font-weight: 700;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 16px;
	padding-right: 16px;
}

.TableStyle-TableStyles2-HeadG-Column1-Header1 p
{
	color: #000000;
	font-weight: 700;
}

.TableStyle-TableStyles2-Foot-Footer1
{
	
}

.TableStyle-TableStyles2-FootI-Column1-Footer1
{
	padding-left: 16px;
	padding-right: 16px;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
}

.TableStyle-TableStyles2-FootI-Column1-Footer1 p
{
	
}

.TableStyle-TableStyles2-FootE-Column1-Footer1
{
	padding-left: 16px;
	padding-right: 16px;
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	border-top-width: 1px;
	border-top-color: #d3d3d3;
	border-top-style: solid;
}

.TableStyle-TableStyles2-FootE-Column1-Footer1 p
{
	
}

.TableStyle-TableStyles2-FootF-Column1-Footer1
{
	padding-left: 16px;
	padding-right: 16px;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	border-top-width: 1px;
	border-top-color: #d3d3d3;
	border-top-style: solid;
}

.TableStyle-TableStyles2-FootF-Column1-Footer1 p
{
	
}

.TableStyle-TableStyles2-FootH-Column1-Footer1
{
	padding-left: 16px;
	padding-right: 16px;
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
}

.TableStyle-TableStyles2-FootH-Column1-Footer1 p
{
	
}

.TableStyle-TableStyles2-FootD-Column1-Footer1
{
	padding-left: 16px;
	padding-right: 16px;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	border-top-width: 1px;
	border-top-color: #d3d3d3;
	border-top-style: solid;
}

.TableStyle-TableStyles2-FootD-Column1-Footer1 p
{
	
}

.TableStyle-TableStyles2-FootC-Column1-Footer1
{
	padding-left: 16px;
	padding-right: 16px;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
}

.TableStyle-TableStyles2-FootC-Column1-Footer1 p
{
	
}

.TableStyle-TableStyles2-FootB-Column1-Footer1
{
	padding-left: 16px;
	padding-right: 16px;
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
}

.TableStyle-TableStyles2-FootB-Column1-Footer1 p
{
	
}

.TableStyle-TableStyles2-FootA-Column1-Footer1
{
	padding-left: 16px;
	padding-right: 16px;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
}

.TableStyle-TableStyles2-FootA-Column1-Footer1 p
{
	
}

.TableStyle-TableStyles2-FootG-Column1-Footer1
{
	padding-left: 16px;
	padding-right: 16px;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
}

.TableStyle-TableStyles2-FootG-Column1-Footer1 p
{
	
}

.TableStyle-TableStyles2-Body-Body1
{
	height: 52px;
}

.TableStyle-TableStyles2-BodyI-Column1-Body1
{
	text-align: center;
	vertical-align: middle;
	padding-left: 16px;
	padding-right: 16px;
}

.TableStyle-TableStyles2-BodyI-Column1-Body1 p
{
	
}

.TableStyle-TableStyles2-BodyE-Column1-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #d3d3d3;
	border-bottom-style: solid;
	text-align: center;
	vertical-align: middle;
	padding-left: 16px;
	padding-right: 16px;
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
}

.TableStyle-TableStyles2-BodyE-Column1-Body1 p
{
	
}

.TableStyle-TableStyles2-BodyF-Column1-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #d3d3d3;
	border-bottom-style: solid;
	text-align: center;
	vertical-align: middle;
	padding-left: 16px;
	padding-right: 16px;
}

.TableStyle-TableStyles2-BodyF-Column1-Body1 p
{
	
}

.TableStyle-TableStyles2-BodyH-Column1-Body1
{
	text-align: center;
	vertical-align: middle;
	padding-left: 16px;
	padding-right: 16px;
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
}

.TableStyle-TableStyles2-BodyH-Column1-Body1 p
{
	
}

.TableStyle-TableStyles2-BodyD-Column1-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #d3d3d3;
	border-bottom-style: solid;
	text-align: center;
	vertical-align: middle;
	padding-left: 16px;
	padding-right: 16px;
}

.TableStyle-TableStyles2-BodyD-Column1-Body1 p
{
	
}

.TableStyle-TableStyles2-BodyC-Column1-Body1
{
	text-align: center;
	vertical-align: middle;
	padding-left: 16px;
	padding-right: 16px;
}

.TableStyle-TableStyles2-BodyC-Column1-Body1 p
{
	
}

.TableStyle-TableStyles2-BodyB-Column1-Body1
{
	text-align: center;
	vertical-align: middle;
	padding-left: 16px;
	padding-right: 16px;
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
}

.TableStyle-TableStyles2-BodyB-Column1-Body1 p
{
	
}

.TableStyle-TableStyles2-BodyA-Column1-Body1
{
	text-align: center;
	vertical-align: middle;
	padding-left: 16px;
	padding-right: 16px;
}

.TableStyle-TableStyles2-BodyA-Column1-Body1 p
{
	
}

.TableStyle-TableStyles2-BodyG-Column1-Body1
{
	text-align: center;
	vertical-align: middle;
	padding-left: 16px;
	padding-right: 16px;
}

.TableStyle-TableStyles2-BodyG-Column1-Body1 p
{
	
}

.TableStyle-TableStyles2-Body-Body2
{
	height: 52px;
}

.TableStyle-TableStyles2-BodyI-Column1-Body2
{
	text-align: center;
	vertical-align: middle;
	padding-left: 16px;
	padding-right: 16px;
}

.TableStyle-TableStyles2-BodyI-Column1-Body2 p
{
	
}

.TableStyle-TableStyles2-BodyE-Column1-Body2
{
	border-bottom-width: 1px;
	border-bottom-color: #d3d3d3;
	border-bottom-style: solid;
	text-align: center;
	vertical-align: middle;
	padding-left: 16px;
	padding-right: 16px;
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
}

.TableStyle-TableStyles2-BodyE-Column1-Body2 p
{
	
}

.TableStyle-TableStyles2-BodyF-Column1-Body2
{
	border-bottom-width: 1px;
	border-bottom-color: #d3d3d3;
	border-bottom-style: solid;
	text-align: center;
	vertical-align: middle;
	padding-left: 16px;
	padding-right: 16px;
}

.TableStyle-TableStyles2-BodyF-Column1-Body2 p
{
	
}

.TableStyle-TableStyles2-BodyH-Column1-Body2
{
	text-align: center;
	vertical-align: middle;
	padding-left: 16px;
	padding-right: 16px;
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
}

.TableStyle-TableStyles2-BodyH-Column1-Body2 p
{
	
}

.TableStyle-TableStyles2-BodyD-Column1-Body2
{
	border-bottom-width: 1px;
	border-bottom-color: #d3d3d3;
	border-bottom-style: solid;
	text-align: center;
	vertical-align: middle;
	padding-left: 16px;
	padding-right: 16px;
}

.TableStyle-TableStyles2-BodyD-Column1-Body2 p
{
	
}

.TableStyle-TableStyles2-BodyC-Column1-Body2
{
	text-align: center;
	vertical-align: middle;
	padding-left: 16px;
	padding-right: 16px;
}

.TableStyle-TableStyles2-BodyC-Column1-Body2 p
{
	
}

.TableStyle-TableStyles2-BodyB-Column1-Body2
{
	text-align: center;
	vertical-align: middle;
	padding-left: 16px;
	padding-right: 16px;
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
}

.TableStyle-TableStyles2-BodyB-Column1-Body2 p
{
	
}

.TableStyle-TableStyles2-BodyA-Column1-Body2
{
	text-align: center;
	vertical-align: middle;
	padding-left: 16px;
	padding-right: 16px;
}

.TableStyle-TableStyles2-BodyA-Column1-Body2 p
{
	
}

.TableStyle-TableStyles2-BodyG-Column1-Body2
{
	text-align: center;
	vertical-align: middle;
	padding-left: 16px;
	padding-right: 16px;
}

.TableStyle-TableStyles2-BodyG-Column1-Body2 p
{
	
}


