
p.MyStyle
{
	font-family: Arial;
	font-size: 12pt;
	margin: 0px;
}

img
{
	border: none;
}

a.Popup
{

}

ul.tabs
{
	margin: 0px;
	padding: 0px;
	list-style: none;
	position: relative;
}

ul.tabs:after
{
	position: absolute;
	content: "";
	width: 100%;
	bottom: 0;
	left: 0;
	border-bottom: 1px solid #ddd;
}

ul.tabs .tab-link
{
	color: #333;
	display: inline-block;
	padding: 10px 10px;
	cursor: pointer;
	margin-left: -4px;
	position: relative;
	z-index: 0;
}

ul.tabs .current
{
	background: #fff;
	color: #d9232e;
	margin-left: 0px;
	margin-right: 10px;
	border-top: 1px solid #ddd;
	border-bottom: 0px solid white;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	z-index: 100;
}

ul.tabs .tab-link:hover
{
	background: #c2c2c2;
	color: #000;
	display: inline-block;
	padding: 10px 10px;
	cursor: pointer;
	margin-left: -5px;
	border: 1px solid transparent;
}

ul.tabs .current:hover
{
	background: #fff;
	color: #d9232e;
	margin-left: 0px;
	margin-right: 10px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid transparent;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	z-index: 2;
}

.tab-content
{
	display: none;
	background: #ededed;
	padding: 15px;
	background-color: transparent;
}

.tab-content.current
{
	display: inherit;
}