# Terraform Action to promote content and redirects from staging to production
name: Promote EnterpriseDocs Staging to Production
on:
  workflow_dispatch:

jobs:
  content:
    runs-on: ubuntu-20.04
    defaults:
      run:
        working-directory: scripts/redirect_creation
    steps:
      - uses: actions/checkout@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.DOCS_AWS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.DOCS_AWS_KEY }}
          aws-region: us-east-1

      - name: Promote Staging Content to Production
        run: |
           aws s3 sync  s3://stage-enterprisestagedocsliquibasecom-origin/ s3://enterprisedocsliquibasecom-origin/ --delete --exclude "robots.txt"
              
  redirects:
    runs-on: ubuntu-20.04
    env:
      TF_VAR_env: "prod"
    defaults:
      run:
        working-directory: scripts/redirect_creation
    steps:
      - uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}
          
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.DOCS_AWS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.DOCS_AWS_KEY }}
          aws-region: us-east-1

      - name: Deploy infrastructure
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main'}}
        env:
          SPACELIFT_API_KEY_ENDPOINT: ${{ secrets.SPACELIFT_API_KEY_ENDPOINT }}
          SPACELIFT_API_KEY_ID: ${{ secrets.SPACELIFT_API_KEY_ID }}
          SPACELIFT_API_KEY_SECRET: ${{ secrets.SPACELIFT_API_KEY_SECRET }}
        run: |
          spacectl stack set-current-commit --id liquibase-docs-prod --sha ${{ github.sha }}
          spacectl stack deploy --id liquibase-docs-prod --auto-confirm 
     