# Terraform Action to promote content and redirects from staging to production
name: Promote EnterpriseDocs Staging to Production
on:
  workflow_dispatch:

jobs:
  content:
    runs-on: ubuntu-20.04
    defaults:
      run:
        working-directory: scripts/redirect_creation
    steps:
      - uses: actions/checkout@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.DOCS_AWS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.DOCS_AWS_KEY }}
          aws-region: us-east-1

      - name: Promote Staging Content to Production
        run: |
           aws s3 sync  s3://stage-enterprisestagedocsliquibasecom-origin/ s3://enterprisedocsliquibasecom-origin/ --delete --exclude "robots.txt"
              
  redirects:
    runs-on: ubuntu-20.04
    env:
      TF_VAR_env: "prod"
    defaults:
      run:
        working-directory: scripts/redirect_creation
    steps:
      - uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}
          
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.DOCS_AWS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.DOCS_AWS_KEY }}
          aws-region: us-east-1

      - name: Terraform Init
        id: init
        run: terraform init -backend-config=$TF_VAR_env.remote.tfbackend 

      - name: Terraform Apply
        run: terraform apply aws_s3_object.enterprise_redirects -auto-approve
     